[2017-09-20 16:06] phet-steele commented on #380
@samreid are we going to keep the assertion in https://github.com/phetsims/energy-skate-park-basics/issues/380#issuecomment-330721521 (I don't know if it's still being discussed or not)? It's being thrown in expression-exchange and would need work to fix if we keep the assertion. Should I go ahead and report it?

[2017-09-20 16:08] samreid commented on #380
Yes, I'd like to see how to reproduce the problem in Expression Exchange.

[2017-09-20 16:13] phet-steele commented on #380
Referenced above.

[2017-09-20 17:01] samreid commented on #380
The assertion was removed in phetsims/sun@3be19b7

[2017-09-20 17:28] zepumph commented on #380
@samreid the solution looks effective, elegant, and simple.

Are there any other places where we want this logic? What other ui components are allowed to dispose themselves while carrying out an event?

[2017-09-20 17:32] zepumph commented on #380
I don't think there are any other places where setTimeout is being used to delay a dispose. We used that only briefly in the about dialog issue above.

[2017-09-20 17:37] brroberts1231 commented on #381
When I try to reproduce this, I can click Slow Motion, I can click all 4 of the check boxes, click slow motion, and then drag a piece of track out, and it may take up to 5 seconds for the top sim to update all that. Sometimes the lower sim will follow, and update a second or so after the top sim as you would expect, but sometimes the bottom sim seems to become frozen indefinitely.

[2017-09-20 17:47] BryceAG commented on #381
In answer to @phet-steele question, I left it for several minutes before I decided that the lower state sim was frozen and wasn't going to update.

As for steps, this is most easily done in playground simply because there are more objects to work with. To get it to freeze just drag as many objects (skater, tracks, or just track joints) to a different place as quick as you can. With the poor perfor

[2017-09-22 03:17] samreid commented on #380
Perhaps we will find the other problematic cases during PhET-iO testing or fuzz testing (like how Energy Skate Park: Basics crashed).  Additionally, in https://github.com/phetsims/phet-info/issues/59 we are discussing a lint rule to forbid setTimeout in sims, so perhaps that will catch other cases that got painted into this corner.  Sound OK?

[2017-09-22 16:09] zepumph commented on #380
Sounds great. ready to close?

[2017-09-22 18:02] BryceAG opened #383 "skater teleports to joint"
For phetsims/QA#50

found on events: textarea for phet-io.

The skater keeps teleporting to the left joint in the playground section. The gif below starts with me restarting the skater to where it was. Sometimes this puts her on the track, sometimes on the ground. If it already puts her on the track then she teleports, or If i have to put her on the track manually she teleports anyway. It seems li

[2017-09-22 18:12] BryceAG commented on #383
Seems to be chrome specific. Found on windows 10

[2017-09-22 18:25] BryceAG commented on #383
Also note how the skater switches direction after the jump. This might be why there is thermal energy if it acts as though the skater moved to get there.

[2017-09-22 20:33] brroberts1231 commented on #383
@BryceAG has since told me in person that at some point he stopped being able to reproduce this. I am currently trying to reproduce it, but having no luck. If this is something that can't be reproduced, should this issue be closed?

[2017-09-23 00:37] samreid commented on #383
@phet-steele can you have a go at reproducing this problem?

[2017-09-25 18:31] BryceAG commented on #383
I am able to reproduce it again but I'm still not 100% sure what is causing it. This time she still teleports to the joint but doesn't stay on the track and instead is on the ground. I think it has something to do with dumping thermal energy from the bar graph because it didn't start happening again until I got rid of the thermal energy after the skater came to a complete stop off screen.

[2017-09-25 18:42] BryceAG commented on #383
That does seem to be the case. The track has to be on the ground completely flat, and thermal energy must be dumped before clicking 'return skater.' I originally found this while I was investigating how the skater's speed and kinetic energy were always increasing (by an incredibly small amount) in the event log when she was on a flat track. What I didn't notice was that the thermal energy was too,

[2017-09-25 18:47] BryceAG commented on #383
This most recent reproduction takes a lot longer (like 5 seconds) for the skater to teleport than the original gif. I'm not sure what I did the first time that made it happen faster or to keep her on the track after the jump. But it is possible that the thermal energy I saw the first time was continuously building like it is in this case, instead of all happening at once during the jump.

[2017-09-25 19:18] phet-steele commented on #127
@samreid this came up again in phetsims/QA/issues/50 and can be reproduced the same way as originally reported in this issue. The newly reported issue is #383, which turns out to be a variant where this procedure is performed along the ground (thanks @BryceAG). There is also a chance (not 100%) that the ground variant will give the error reported in #367.

[2017-09-25 19:18] phet-steele commented on #127
Also, this is present in production.

[2017-09-25 19:20] phet-steele commented on #383
Thanks for your work on this @BryceAG. Turns out this is a variant of #127 and can be reproduced with the procedure in that issue. Going to label this as a duplicate, even though it wasn't obvious.

[2017-09-25 19:20] #383 closed

[2017-09-27 21:43] brroberts1231 opened #384 "Track nodes snap together but do not connect"
Found while testing phetsims/QA#50
Steps to reproduce:
On the playground screen, drag out two pieces of track just a little (not above ground level). They will snap to ground level, and overlap each other. Grab one of them by the center node, and lift it up, then grab the other track by its center node and lift it up. The one endpoint of the second track will snap to overlap the endpoint of the fi

[2017-09-27 21:47] brroberts1231 commented on #384
(Erroneously hit enter after I typed title, ignore this until I actually type the whole thing)

[2017-09-29 17:48] BryceAG opened #385 "iPad 2 crashes in mirrors when switching section"
related to phetsims/QA#50

When testing phet-io mirrors with Tycho, the page would crash and reload whenever I tried to switch sections of the simulation (Intro to Friction, etc.). It would crash right after updating the mirrored sim below, and a bar would pop up on safari stating "A problem occurred with this webpage so it was reloaded."

[2017-09-29 20:56] BryceAG opened #386 "iPad 2 instance proxies crashes when launching anything but original state"
related to phetsims/QA#50

unless you launch from the original state of instance proxies, the launched version will show the loading bar, and once it's full it will crash. Safari will state "A problem occurred with this webpage so it was reloaded." but it won't reload either because the URL is blank.

[2017-09-29 21:03] BryceAG commented on #386
by original state, I mean the left window before launching. If you interact with the left window and go into any of the sections this is what will happen, or if you set one of the sections (such as intro) as active.

[2017-10-02 21:28] phet-steele opened #387 "Why are we using GaugeNeedleNode?"
@samreid looks like ESPB is using both of these:

`GaugeNeedleNode`
`GaugeNode`

`GaugeNeedleNode` is just a needle, while `GaugeNode` is the entire gauge (_needle_, text, value, etc..). Since both of these are being used and both are tandemized, we get two needle entries in instance-proxies:

(1) `energySkateParkBasics.introScreen.view.gaugeNeedleNode` (the `GaugeNeedleNode` needle)

(2) `energyS

[2017-10-06 16:23] phet-steele commented on #381
@samreid @BryceAG, myself and @brroberts1231 came to the conclusion that this is being caused by large amounts of #382 being reported and slowing down the browser. Leaving assigned to QA to see if this gets fixed when #382 is addressed.

[2017-10-06 18:08] BryceAG commented on #381
Although the compounding errors do slow down performance, it does still pause every time it updates the state below even without errors in the console. With more objects and a busier track sometimes it will slow down for a while after the pause as well. Here is a gif showing it pause with a simple track and no errors, and note how the frame rate dips after a pause but says it should still be movin

[2017-10-06 19:19] phet-steele commented on #381
Guess I'll give this back to @samreid after @BryceAG's report.

[2017-10-06 19:57] lmulhall-phet opened #388 "Skater falls through track"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.6

**Browser:**

Chrome Version 61.0.3163.100 (Official Build) (64-bit)

**Problem description:**

I know there have been 80,000 similar issues, but I thought I'd make this one for posterity. If anyone in the future is reading this, hopefully you'll understand why this issue was deferred! (Or maybe we ca

[2017-10-06 21:03] BryceAG opened #389 "Instance Proxies sliders bounds are not set right"
There are many sliders in instance proxies with the default range from 0 to 1, but actually go beyond those bounds.

Screen Index Property: which section of the sim is highlighted in the home screen. Currently from 0 to 1, but actual values are 0, 1, and 2. For this one it might also be good to set it so only integers can be chosen, because any decimal point makes it so none are selected. Addition

[2017-10-07 00:33] zepumph opened #390 "TypeError: Converting circular JSON"
I think this probably has something to do with #380, but here are the steps to repeat:

1. mirror inputs wrapper
2. last screen
3. move a track to the play area, and extend an end point.
4. let the skater fall onto the track and it should error on contact

[code]

Assigning to @samreid in case he is aware/may have a quick fix.

[2017-10-09 17:19] BryceAG commented on #389
related to phetsims/QA#50

[2017-10-09 18:14] BryceAG opened #391 "Events: Firefox poor performance"
Related to phetsims/QA#50

All of the phet-io events: sections have poor performance for Windows 10 Firefox. In order of decreasing severity: JSON, colorized, and text area. With the first 2 there was a lot of input delay, often temporarily setting Firefox in a (Not Responding) state, and with all of them the skater moved noticeably slower than usual and dragging objects had poor frame rate. For J

[2017-10-11 04:34] samreid commented on #387
The built-in gauge needle is suppressed and another needle drawn in webgl is overlayed so that everything that animates is in webgl and in the same layer to attain smooth performance on slow platforms.  There is no straightforward way to uninstrument the hidden one and I'm hesitant to reduce performance by eliminating the webgl one.  However, I am trying to picture an eventual PhET-iO design meeti

[2017-10-11 04:36] samreid commented on #387
Needles are uninstrumented and no longer appear in instance proxies.  @phet-steele anything else to discuss for this issue?

[2017-10-11 04:50] phet-steele commented on #387
I suppose this is one way to handle it! I do not think there is anything left to discuss. @samreid please have this verified by QA in the next testing cycle.

[2017-10-13 18:50] phet-steele opened #392 "Cannot register two different instances to the same id: ...controlPointUI.deleteButton.isFiringProperty"
Click the same control point twice.

[code]

[2017-10-17 18:05] phet-steele opened #393 "Assertion failed: instance not found for energySkateParkBasics.playgroundScreen.model.track_3.draggingProperty"
[code]

[2017-10-17 18:06] phet-steele commented on #393
Also get these for `sourcePositionProperty`.

[2017-10-26 17:22] zepumph commented on #392
Addressed as part of https://github.com/phetsims/phet-io/commit/d2f32e26da210fe06fb36c9dab4b6d6a76297ff3#diff-a44b6bf8932e48586042b1e1e1d6aa8a. Closing

[2017-10-26 17:22] #392 closed

[2017-10-26 18:18] zepumph commented on #393
This was fixed in the above commit. Bayes looks good Closing

[2017-10-26 18:18] #393 closed

[2017-10-27 19:55] samreid commented on #375
I need to include phetsims/joist@63046a6 before RC testing continues.

[2017-10-29 13:41] samreid commented on #375
Please see also https://github.com/phetsims/joist/issues/449#issuecomment-340263119, we are considering picking up some other commits for this maintenance release.

[2017-11-09 14:38] samreid opened #394 "Cannot reshape tracks"
Detected during https://github.com/phetsims/phet-io/issues/1239 it is no longer possible to reshape tracks.  Dragging by the control point just translates the entire track.  Not sure when this problem was introduced.

[2017-11-09 21:37] zepumph opened #395 ""Assertion failed: Impossible set state" because of Nodes"
Just like in https://github.com/phetsims/charges-and-fields/issues/142, this problem is happening here in the state wrapper when you click on a control point with the UI buttons that pop up. \

[code]

@samreid could you apply the same strategy for this?

[2017-11-10 02:46] samreid commented on #394
Fixed, closing.

[2017-11-10 02:46] #394 closed

[2017-11-11 02:30] samreid commented on #375
It seems we need the following cherry picks:
https://github.com/phetsims/joist/issues/449#issuecomment-340573495 (for screen names)
https://github.com/phetsims/joist/commit/5346db7405f5dd08dfc82a0a5041e8364c719eda (for correct pause behavior)

[2017-11-11 02:34] samreid commented on #375
Based on the number of issues raised during the RC test, it is unclear whether we will be using the same SHAs or not for next RC.

[2017-11-11 17:31] samreid commented on #395
The problem is that this logic is used to create ControlPointUI in the source frame:

[code]

That logic never gets called in the downstream sim and hence the control point UI isn't created there.  We need a more model-driven approach or a way to clearChildInstances and create these from scratch.  But maybe these control points are "transient" and not necessary for the state?  It is a question for

[2017-11-11 17:44] samreid commented on #395
I got partway through implementing this only to discover that the downstream ControlPointNode has a TrackNode with no parents, so the reconstituted control point UI is not showing up.

[2017-11-11 17:48] samreid commented on #395
I could use @zepumph's help on this.

[2017-11-11 17:53] samreid commented on #391
The simulation is emitting nearly 1500 messages per second, which is 25 messages per frame.  This is due to the skater, speed, position, angle, energy, etc changing in every frame.  @zepumph will this be a problem for metacog?  What should we do?

[2017-11-11 17:56] samreid commented on #390
I did not see the error on https://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.4.0-phetiorc.1/wrappers/mirror-inputs/mirror-inputs.html?sim=energy-skate-park-basics&relativeSimPath on Mac/Chrome.  @zepumph can you please confirm this can be reproduced?

[2017-11-13 01:31] samreid commented on #389
Proposed fix is in the preceding commit, @BryceAG can you please review on phettest?

[2017-11-13 01:34] samreid commented on #388
I am guessing that this problem occurred because in one time step the skater traversed both the track and the ground, and the logic for the ground took precedence.  I'll leave it to @ariel-phet whether he wants an investigation.

[2017-11-13 01:45] samreid commented on #386
@BryceAG is this still happening in master on phettest?  I didn't see the problem on Mac/Chrome.

[2017-11-13 01:49] samreid commented on #384
I can't reproduce this in master, but it is likely because the tracks are no longer popping above ground level--this is likely a new bug.

[2017-11-13 01:53] samreid commented on #127
I'm seeing a problem where putting the skater at exactly the right location on the hill causes a teleport and total energy change.  Off by 1 pixel in either direction and the problem does not occur.

[2017-11-13 01:55] samreid commented on #375
On hold until we address the issues raised during the RC, see https://github.com/phetsims/QA/issues/50

[2017-11-13 02:13] samreid commented on #387
On hold until next RC

[2017-11-13 03:22] samreid commented on #381
I am seeing the same pause (maybe not quite as long) during getState/setState on Mac/Chrome.  Each state is about 90kb of text, and there is a lot of work to set all values back to the downstream simulation--may be duplicated work for setting a custom track which could be optimized out.

[2017-11-13 14:20] samreid commented on #381
@BryceAG can you please characterize performance when running with ?screens=1 or ?screens=3 ?  One workaround for this problem may be to restrict clients to using a single screen for sims with expensive states.

[2017-11-13 14:31] samreid commented on #127
It seems I am unable to reproduce the problem if putting the `numDivisions` to 1 instead of 4.

[2017-11-13 16:39] ariel-phet commented on #388
@samreid no investigation necessary. I don't personally see this as pedagogically problematic. Since the "drop through" point is coinciding with the ground. Especially since there is no expectation of "sticking to the track".

As such, @lmulhall-phet I do not think I would actually even consider this a bug, it strikes me as normal and reasonable behavior.

[2017-11-13 16:39] #388 closed

[2017-11-13 18:53] samreid commented on #127
With the query parameter `?debugLog` and reproducing the error, I see:

[code]

The code from that context is:

[code]

So it is still returning the attempted correction even though it wasn't able to fully correct for the detected energy discrepancy.  I tried changing this to:

[code]

And the buggy behavior went away--there may still be numerical errors in the energy but they weren't apparent at

[2017-11-14 00:34] ariel-phet commented on #127
@samreid it seems what you are proposing is a bit "hacky"

Since this sim is instrumented for PhET-iO can't we read out the state that is occurring in this circumstance? It seems like the model and the sim should be able to handle what is going on. My guess is you are putting the skater at an unstable equilibrium point and a small numerical fluctuation is getting it to move. It would be good to kn

[2017-11-14 00:50] samreid commented on #127
Yes, all the proposals from my comment were workarounds to address this case in isolation without disrupting the rest of the behavior.  I'll take a closer look to try to understand the root cause.

[2017-11-14 03:14] samreid commented on #127
I added this test scaffolding after the energy correction:

[code]

It helped me identify a flaw in the track search that was going to the edge of the track (and hence the teleport).

After fixing this, there was still an energy discontinuity coming from the friction term.  The dynamics integration is not energy-conserving and the contribution from friction is increasing thermal energy too much.

[2017-11-14 03:16] samreid commented on #127
@phet-steele can you please test the preceding commit on phettest?

[2017-11-14 17:34] samreid commented on #384
The simplest solution to this problem will create a change in behavior--previously (and in the published version) if you click on a track in the toolbox and release nothing happens.  For the proposed fix, if you tap a track in the toolbox and release, it will pop above the track.  I suspect it will be fine, but would be good to run it past the design team before publishing this change.  @ariel-phe

[2017-11-14 17:35] samreid commented on #384
Fix for https://github.com/phetsims/energy-skate-park-basics/issues/384#issuecomment-343788762 committed above and available for testing on phettest.

[2017-11-14 17:38] samreid commented on #384
Also after fixing https://github.com/phetsims/energy-skate-park-basics/issues/384#issuecomment-343788762 I can now easily see the behavior described in https://github.com/phetsims/energy-skate-park-basics/issues/384#issue-261127691.  @ariel-phet can you please reproduce that problem and let me know what you recommend for the desired behavior?

[2017-11-14 17:52] samreid commented on #384
@brroberts1231 can you please indicate which browser(s) show the gray artifacts?  I haven't been able to see them on Mac/Chrome or Mac/Firefox.

@ariel-phet said the rest of the behavior aside from the gray artifacts is ok, so we'll investigate the gray artifacts a bit more before closing.

[2017-11-14 18:03] samreid commented on #391
Firefox quantum is out today, but we still need to answer what can/should we do about such a dense data stream.  Unassigning until discussion with @zepumph

[2017-11-14 21:13] zepumph commented on #390
I can not see it either, on 1.4.0-phetiorc.1 or master! Closing

[2017-11-14 21:13] #390 closed

[2017-11-16 20:31] zepumph commented on #395
Marked as meeting. Unassigning until we get to it in the meeting.

[2017-11-17 02:34] zepumph opened #396 "Uncaught TypeError: Cannot read property 'options' of undefined"
[code]

[2017-11-17 04:44] samreid commented on #396
Proposed fix above, Bayes is going to test it out, closing until then.

[2017-11-17 04:44] #396 closed

[2017-11-22 16:58] samreid commented on #382
I'm going to deem these popups as "transient" and remove them from the state.  We can re-evaluate at the ESPB PhET-iO design meeting.

[2017-11-22 17:00] samreid commented on #382
Finished, states no longer crash, closing.

[2017-11-22 17:04] samreid commented on #385
Same problem on iPad3.  Likely we are just over safari's memory limit.  This will not affect clients because they will only be running one instance of the sim at a time on iPad, closing.

[2017-11-22 17:04] #385 closed

[2017-11-23 05:23] samreid commented on #382
I'm seeing this again after working on https://github.com/phetsims/phet-io/issues/1273, not sure why.

[2017-11-23 05:27] samreid commented on #382
I realized we need to have these objects instrumented to get data stream from them, so it will be better to use `phetioState:false`.

[2017-11-23 05:28] samreid commented on #382
Removed from state above, closing.

[2017-11-23 05:28] #382 closed

[2017-11-24 03:54] samreid commented on #395
I solved this in a related issue by removing the control node UI buttons from the state, closing.

[2017-11-24 03:54] #395 closed

[2017-11-30 22:12] phet-steele commented on #127
I can't make this happen anymore....woohoo!

[2017-12-02 13:32] samreid commented on #127
Thanks, let's close this issue and the fix will go out with the next version.

[2017-12-02 13:32] #127 closed

[2017-12-02 13:33] samreid commented on #375
It will also be good to publish this since it fixes https://github.com/phetsims/energy-skate-park-basics/issues/127

[2017-12-22 20:36] samreid commented on #384
Testing the requirejs version, I still do not see the gray artifacts on Mac Chrome.  Win10 Chrome and Win10 Edge also show no gray artifacts.  @ariel-phet do you want more testing on this before next Dev test?

[2017-12-22 20:43] samreid commented on #375
On hold until we discuss https://github.com/phetsims/QA/issues/50

[2017-12-28 19:12] ariel-phet commented on #384
@samreid, no lets go ahead and close for the moment

[2018-01-23 00:33] samreid opened #397 "State wrapper broken"
From https://github.com/phetsims/phet-io/issues/1301

[2018-01-23 00:40] samreid commented on #397
Fixed, closing.

[2018-01-23 00:40] #397 closed

[2018-01-25 22:48] jessegreenberg opened #398 "Code Review for this sim"
In preparation of a port of energy-skate-park, I will do do a full code review of this repo. This will bring the code up to latest standards and will also assist in familiarizing myself with this sim.

Once done (or during the process) I might reach out to @samreid  for questions and help.

[2018-01-25 22:49] jessegreenberg commented on #398
Pasting checklist for convenience:

*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*
*Please mark failed items with ❌*

PhET code-review checklist
=============

#### **Build and Run Checks**

- [ ] Does the sim build without warnings or errors?
- [ ] Does the html file size seem reasonable, compared to other similar sims?
- [ ] Does th

[2018-01-31 21:51] jessegreenberg opened #399 "Memory leak"
From #398. I noticed the following profile after recording heap size every 30 seconds or so, 98.6MB is larger than I usually see so I am wondering if this sim has a memory leak.
![capture](https://user-images.githubusercontent.com/6396244/35649394-29f31772-0696-11e8-89a3-4da7bc46e48f.PNG)

[2018-02-01 00:19] jessegreenberg opened #400 "Make a subdirectory under js/ for each screen"
From #398.

At the moment all code is under js/energy-skate-park-basics.

[2018-02-01 00:29] jessegreenberg opened #401 "Do we need separate home screen and navbar images?"
From #398,  EnergySkateParkBasicsScreen.js has icon-{{screen}}-homescreen.png and icon-{{screen}}-navbar.png for homescreen and navbar icons. They look like identical images with different scale. Maybe these were added before  Screen.js automatically scaled down homeScreenIcon. Can we just use one image for home screen/nav bar icons?

[2018-02-01 00:37] jessegreenberg opened #402 "Missing assets"
From #398, there are a few .ai assets that seem to be missing.
- I do not see "cement-texture-dark.jpg" in assets/
- "attach.png" and "detach.png" images are not the same as "stick-to-track-icon.ai" and "espb detach from track icon.ai", they are the icon without the skateboard and the skater feet/legs.

[2018-02-01 00:43] jessegreenberg commented on #372
I this issue is now related to #398.  As a way to familiarize myself with the implemenation Ill write  implementation-notes.md and model.md after reviewing.

[2018-02-01 00:46] jessegreenberg opened #403 "Find the missing DebugTracks query parameter"
From #398, DebugTracks.js documentation references a "DebugTracks" query parameter but it is not listed in EnergySkateParkBasicsQueryParameters.js. Should it be added to EnergySkateParkBasicsQueryParameters or does it no longer exist?

[2018-02-22 20:49] jessegreenberg opened #404 "Can EnergySkateParkBasicsModel.time be removed?"
For #398, I see
[code]

`this.time` gets incremented in `step` but I see no other usages. Can it be removed?

[2018-02-22 21:14] jessegreenberg opened #405 "Can proxy for save/load for the tracks for phetio.js be removed?"
This block is in EnergySkateParkBasicsModel
[code]

Not sure if we still want this around. @samreid would you like to keep this commented code?

[2018-02-22 21:25] jessegreenberg commented on #405
For #398.

[2018-02-22 23:00] jessegreenberg opened #406 "Variables added to prototype in inherit call"
From #398 -
I noticed that the curvatureTemp2 and cuvatureTemp are used to track cuvature  of the track at the skater's location. They are added to the prototype in the inherit call of EnergySkateParkBasicsModel.js. I haven't seen variables declared here before. @samreid is there an  allocation  benefit of defining  these variables here? Could they be moved to the constructor?

[2018-02-22 23:07] jessegreenberg commented on #406
Also, curvatureTemp looks like:
[code]

Are the initial values important?

[2018-02-23 00:06] jessegreenberg opened #407 "Use EnergySkateParkBasicsModel.addTrack more broadly"
From a TODO:
[code]

@samreid do you still believe this TODO still applies?

[2018-02-23 00:17] samreid commented on #406
curvatureTemp and curvatureTemp2 are not instance variables and should not be moved to the constructor--it seems they should be moved closer to this line:

[code]

Since they have similar meaning.  The initial values are not important--these `curvatureTemp` objects were introduced to prevent memory allocations to get acceptable performance on iPad.

[2018-02-23 00:31] samreid commented on #407
I think it is worth investigation, thought it may not pan out.  I don't see a quick way to solve this, it will probably involve experimentation/investigation and would require specifying the control point indices as arguments to the function (though that's unclean how it will work with PhET-iO where the control point locations are set separately).

[2018-02-23 00:36] jessegreenberg commented on #407
I see, thanks. Ill take a look.

[2018-02-23 00:39] samreid commented on #407
Thanks, and good luck. You can use the phet-io "state" wrapper to exercise `addTrack`.

[2018-02-23 00:44] jessegreenberg opened #408 "Can events be removed from Track.js?"
It looks like `Track.js` used to be driven by `axon/Events.js`, but sim now uses `Emitter`. Sim search for `.events` shows one reference in `Track.js`, the definition. I believe `events ` can be removed from instance variables in `Track.js`. The `events` arg could be renamed to `model`, all usages of new Track pass in an `EnergySkateParkBasicsModel`.

[2018-02-23 00:44] jessegreenberg commented on #408
For #398.

[2018-02-23 01:03] jessegreenberg commented on #406
Thanks, I understand now. Sounds good.

[2018-02-23 01:17] samreid commented on #405
It can be deleted now, thanks!

[2018-03-02 16:37] ariel-phet commented on #391
Should be retested with latest firefox.

[2018-03-02 17:17] phet-steele commented on #389
Screen Index Property: uses integer radio buttons 👍

Parametric Speed Property: read only 👍

Mass Property: slider ranges from 25 - 100 kg and matches the sim's sliders 👍

Kinetic Energy Property: read only 👍

Potential Energy Property: read only 👍

Thermal Energy Property: read only 👍

Total Energy Property: read only 👍

Angle Property: read only 👍

Scene Property: uses integer radio buttons 👍

F

[2018-03-02 17:17] #389 closed

[2018-03-02 17:46] phet-steele commented on #381
@samreid I cannot test the State wrapper on master. Letting the skater move along a track throws:

[code]

[2018-03-07 01:05] jessegreenberg opened #409 "Add missing JSDoc"
Documentation is great, but JSDoc  is missing in misc places throughout. This issue will collect commits. For #398.

[2018-03-07 01:08] jessegreenberg opened #410 "isApproxEqual could be moved to dot/Util?"
[code]

This seems like it could be generally useful. For  #398.

[2018-03-07 01:19] jessegreenberg commented on #410
On slack:
[code]

Ill add it to Util.

[2018-03-07 01:28] jessegreenberg commented on #410
Done with the above commits.

[2018-03-07 01:28] #410 closed

[2018-03-07 18:51] jessegreenberg commented on #405
Deleted, closing.

[2018-03-07 18:51] #405 closed

[2018-03-17 01:54] zepumph commented on #391
I don't think I'm totally qualified to call myself a tester, but I found that on the build version from master, in the JSON Events wrapper, it was not laggy on the newest version of firefox quantum. I will say that it was very laggy with the console out, but that is due more towards all of the printing of events to the console that was happening (not sure if that is the same issue).

Taking off ho

[2018-03-20 02:32] samreid commented on #391
I suspect that in the PhET-iO redesign the data stream will be sparser and it will have better performance.  @ariel-phet what do you think about requesting @BryceAG to test on latest firefox, to rule that out as a variable?

[2018-03-21 17:05] ariel-phet commented on #391
@samreid I agree that would be good. Latest FF has made big strides in performance.

[2018-03-21 17:06] ariel-phet commented on #391
@BryceAG or someone else from QA at @phet-steele discretion, it would be good to look at this performance on latest firefox.

[2018-03-23 21:58] samreid commented on #381
I reproduced the problem and am looking into it, thanks!

[2018-03-23 22:03] samreid commented on #381
Looks related to https://github.com/phetsims/energy-skate-park-basics/issues/366

[2018-03-23 23:36] samreid commented on #381
Perhaps one day we will store a reference to the track index or use TrackReferenceIO, but until we have the PhET-iO design meeting for this sim, I will recommend to remove the instrumentation for `Skater.startingTrackProperty`.

[2018-03-23 23:51] samreid commented on #381
That part seems fixed, @phet-steele back to you.

[2018-03-24 00:55] samreid opened #411 "Prepare 1.4.0-phetiorc.2 (from master)"
From https://github.com/phetsims/QA/issues/50

We would like to get master stable then publish RC.2, to test the issues linked in qa/50.  Should be done after #381 at least, and @samreid should triage open issues and check status with @jessegreenberg before creating rc.2.

[2018-04-03 16:02] samreid opened #412 "Add a query parameter that floats the controls to the sides of the screen."
On 3/30/2018 9:34 AM, Sam Reid wrote:

[2018-04-03 16:02] samreid commented on #412
On 4/2/2018 12:28 PM, Ariel Paul wrote:

[2018-04-03 16:03] samreid commented on #412
On 4/2/18 12:34 PM, Kathy Perkins wrote:

[2018-04-03 16:06] samreid commented on #412
Based on the correspondence from our client, I'm inclined to leave the default behavior as it is now and use a query parameter that floats the controls to the side for all screens.  This will ensure a consistent look between the screens.

[2018-04-03 16:07] samreid commented on #412
I'll need to commit these changes to master and a maintenance branch and publish a maintenance release.

[2018-04-03 16:28] samreid commented on #412
The right hand side control panel is complete after the preceding commit.  The bar chart will be more difficult because it is composed of several coordinated layers and uses WebGL.

[2018-04-03 17:09] samreid commented on #412
I pushed similar changes to the 1.3-phetio branch.  This will need testing on 3-4 platforms with a sampling of the following query parameters:

[no query parameters]
&controlPanelLocation=floating
&controlPanelLocation=fixed
&controlPanelLocation=floating&webgl=false
&controlPanelLocation=fixed&webgl=false

We should test it in Instance Proxies and at least one other phet-io wrapper to make sure i

[2018-04-04 18:57] samreid commented on #412
@phet-steele determined that this sim cannot be properly tested on spot because of the HTTP/HTTPS switchover.  We decided to publish a "production but not yet public" PhET-iO version on phet-io.colorado.edu for testing.  We don't know a great solution in general for when this comes up again in another maintenance release.

[2018-04-04 19:13] samreid commented on #412
I published 1.3.2 here: https://phet-io.colorado.edu/sims/energy-skate-park-basics/1.3.2-phetio/wrappers/index/

If the build process worked properly, the only changes will be in the new query parameter--so mainly we need to test the query parameter and spot check that nothing went wrong.

[2018-04-05 17:43] samreid commented on #412
@phet-steele said QA passed, I notified the client, closing.

[2018-04-05 17:43] #412 closed

[2018-05-04 23:02] jessegreenberg commented on #380
@phet-steele mentioned that this issue is probably related to https://github.com/phetsims/energy-skate-park/issues/8.

If I run http://localhost:8080/phet-io-wrappers/wrapper-template/wrapper-template.html?sim=energy-skate-park-basics&ea, pull out a track segment, then cut at the center control point, I see

@zepumph this is the issue we were talking about this afternoon.

[2018-05-25 16:21] pixelzoom opened #413 "lastDragPoint duplicated in TrackDragHandler and SimpleDragHandler"
Noticed while working on https://github.com/phetsims/scenery/issues/804.

TrackDragHandler and its supertype SimpleDragHandler both have field `this.lastDragPoint`.   Since `this.lastDragPoint = null` is set in TrackDragHandler before SimpleDragHandler.call, I suspect that either @samreid was unaware of this, or `lastDragPoint ` was added to SimpleDragHandler at a later time. Either way this is no

[2018-05-28 19:20] samreid commented on #411
If I understand correctly, the plan is to republish ESPB for PhET Brand only, and to defer phet-io until we can do a stable PhET-iO design.  @ariel-phet is that correct?  If so, let's close this issue.

[2018-05-28 19:31] samreid commented on #375
On Thursday's meeting, we decided to reprioritize getting this ready for republication for PhET brand (with Legends of Learning support), so that we can republish before @jessegreenberg makes a large-scale refactoring.  The last RC test was completed here: https://github.com/phetsims/QA/issues/50 which included full testing for PhET-iO issues.  I recommend we defer PhET-iO work on this sim until w

[2018-05-29 19:08] jessegreenberg commented on #375
Thanks @samreid, after reviewing, the only thing that stood out to me was this potential memory leak:
https://github.com/phetsims/energy-skate-park-basics/issues/399

Seems like the rest can be addressed as part of work in https://github.com/phetsims/energy-skate-park.

[2018-05-29 19:08] jessegreenberg commented on #413
I will look into this as part of https://github.com/phetsims/energy-skate-park-basics/issues/375.

[2018-05-29 19:31] pixelzoom commented on #413
I believe the supertype field should be `@private`, but check with @jonathanolson and phetsims/scenery#804.   And if the intention is to set the supertype field, that needs to be done _after_ calling the supertype constructor, and it's highly likely to conflict with the assignment done in SimpleDragHandler.move, so not recommended.

[2018-05-29 19:33] jonathanolson commented on #413
Yes it should probably be private. If some hacking was needed to make things work properly, maybe other changes are needed.

[2018-05-29 20:01] jessegreenberg commented on #205
Reopening. While working on https://github.com/phetsims/energy-skate-park-basics/issues/413 I noticed that this issue has resurfaced in master. The issue is not present in the published version.

[2018-05-29 20:01] jessegreenberg commented on #375
This issue has also resurfaced: https://github.com/phetsims/energy-skate-park-basics/issues/205

[2018-05-29 20:29] jessegreenberg commented on #205
Looks like it  was introduced in https://github.com/phetsims/energy-skate-park-basics/commit/7b7b1783686a3e17efe93b08db3df3970f075ed1 for https://github.com/phetsims/energy-skate-park-basics/issues/384

[2018-05-29 20:30] jessegreenberg commented on #205
From https://github.com/phetsims/energy-skate-park-basics/issues/384#issuecomment-344336314

[2018-05-29 20:35] jessegreenberg commented on #205
I assume that proposal  was accepted because #384 has been closed. But there are still  comments in the code that suggest the behavior should not be this way.

...

@samreid @ariel-phet can you please comment? Is it OK that clicking on the toolbox immediately creates a track without drag now?

[2018-05-29 20:56] jessegreenberg commented on #413
Before TrackDragHandler was created, `lastDragPoint` was in TrackNode and was not an instance variable. Seen here: https://github.com/phetsims/energy-skate-park-basics/blob/3c7d303cc672f13523f31b94c60372ce31d962c9/js/view/TrackNode.js. So it is unlikely that TrackDragHandler is doing something hacky to modify SimpleDraghandler's `lastDragPoint`.

Inspecting repo at that SHA, I still only see 2 hit

[2018-05-29 21:03] jessegreenberg commented on #413
I removed it and tested track dragging, everything seemed OK. @samreid does this look OK to you?

[2018-05-29 21:30] jessegreenberg commented on #205
I went ahead and removed some comments and logic that was added for this issue assuming that we are good to go in #384. @ariel-phet if this change is OK please close. Otherwise please reassign to me and Ill revert and work on a new fix for #384.

[2018-05-29 22:01] jessegreenberg commented on #399
I am not too familiar with chrome memory tools, but I think this comparison view indicates a leak of many Vector2s and Bounds2s? And maybe other things too.
![mem view](https://user-images.githubusercontent.com/6396244/40687940-7ddfa59c-6359-11e8-83da-431a0c1bb885.PNG)

[2018-05-29 22:02] jessegreenberg commented on #399
Using studio to visualize instances, I see this count at the top:
On load:
![launch](https://user-images.githubusercontent.com/6396244/40687980-a081c86e-6359-11e8-92bf-92ae821c9717.PNG)
After dragging 3 track segments into the play area:
![3-segments](https://user-images.githubusercontent.com/6396244/40687991-a89c8836-6359-11e8-8d35-c351dddc66d1.PNG)
After pressing Reset All:
![reset all](https://

[2018-05-29 22:03] jessegreenberg commented on #399
Every time I press ResetAllButton, instance count increases by ~115.

[2018-05-29 22:17] jessegreenberg commented on #399
When I press ResetAllButton, I see new instances of Tracks and ControlPoints in studio. Reset All eventually calls `clearTracks`, calling `addDraggableTracks`, creating new tracks for the toolbox. Ill probably start there.

[2018-05-30 00:10] samreid commented on #205
Creating on press (not drag) is consistent with behavior in other PhET sims.

[2018-05-30 09:54] samreid commented on #205
After reviewing the issue, I think I need to backtrack on my preceding comment.  I forgot in this simulation dragging does not work like Circuit Construction Kit, where there is an immediate and visible change to the dragged component on press.  Instead, in energy-skate-park-basics, if you tap the track in the toolbox 5 times, you will deplete the track from the toolbox--that seems odd.  I'm also

[2018-05-30 16:19] jessegreenberg commented on #399
To find the leak in reset, I hacked `EnergySkateParkBasicsModel.manualStep` to call `EnergySkateParkBasicsModel.reset`. Pressing and holding the step button for 10 seconds with this causes the sim to grow to 200 MB.

[2018-05-30 16:24] jessegreenberg commented on #399
Lots of Objects like this in the chrome memory comparison indicate that `detachableProperty` is not being disposed.
![capture](https://user-images.githubusercontent.com/6396244/40733718-975e604a-63f3-11e8-9a60-074491dcbc90.PNG)

[2018-05-30 16:28] jessegreenberg commented on #399
Other than a RadioButtonGroup, it looks like TrackNode is the only place that adds listeners to detachableProperty, TrackNodes are never disposed.

[2018-05-30 16:38] jessegreenberg commented on #399
Removing the listener in TrackNode really helps, holding the step button (that is hacked to call `reset`) for 20 seconds, and the heap only grows a couple of MB.

[2018-05-30 16:44] jessegreenberg commented on #399
New memory profile fuzzing screen 3, snapshot taken every 30 seconds:
![capture](https://user-images.githubusercontent.com/6396244/40734705-74cfbaee-63f6-11e8-84d6-6e3eb7e148e6.PNG)

[2018-05-30 16:46] jessegreenberg commented on #399
Fuzzing all screens for 30 seconds:
![capture](https://user-images.githubusercontent.com/6396244/40734831-c259fd42-63f6-11e8-9b6b-2a98ba29e7d8.PNG)

[2018-05-30 16:51] jessegreenberg commented on #399
Memory profile over 10 seconds of fuzzing:
![tempsnip](https://user-images.githubusercontent.com/6396244/40735058-6c035b18-63f7-11e8-8c24-b9aebace7d6e.png)

I think we are there!

[2018-05-30 16:51] #399 closed

[2018-05-30 17:04] jessegreenberg commented on #205
Thanks @samreid, that makes sense. I reverted the commit.

Reproduced, and it is still around after reverting. Ill make a new issue.

[2018-05-30 17:06] jessegreenberg opened #414 "Can't drag tracks after dragging control point if track snaps above ground"
From #205 @samreid found

It does not seem related to #205 so making a new issue to track down.

[2018-05-30 17:06] jessegreenberg commented on #414
Oh wait, we are probably going to make it so the track can't snap out of the toolbox on click, this could be a non-issue if t is not possible to get sim into this state.

[2018-05-30 17:23] jessegreenberg commented on #384
From #205 we may need a different fix for this. @samreid said

This commit reintroduced #205:
https://github.com/phetsims/energy-skate-park-basics/commit/7b7b1783686a3e17efe93b08db3df3970f075ed1

[2018-05-30 17:27] jessegreenberg commented on #384
Reading this issue more, I see that https://github.com/phetsims/energy-skate-park-basics/commit/7b7b1783686a3e17efe93b08db3df3970f075ed1 was a fix for a bug where tracks were no longer popping above ground.

But in https://github.com/phetsims/energy-skate-park-basics/issues/384#issuecomment-344341800 @ariel-phet said that the behavior in the original issue ticket was OK.

[2018-05-30 17:37] jessegreenberg commented on #384
https://github.com/phetsims/energy-skate-park-basics/commit/7b7b1783686a3e17efe93b08db3df3970f075ed1 added

[code]
to trackDragEnded.

I was recently browsing old versions of this code and could have sworn that line used to be further down in the `trackDragEnded` listener. Ill look around.

[2018-05-30 17:40] jessegreenberg commented on #384
It was in daebed6. This will be fixed if
[code]
gets moved into `if ( this.startedDrag )` check.

But why was it removed?

[2018-05-30 17:54] jessegreenberg commented on #384
Fixed in the above commit, the track is bumped above ground only if the track hasn't been disposed and only if drag has started. This issue can be closed again.

[2018-05-30 17:54] #384 closed

[2018-05-30 17:55] jessegreenberg commented on #205
Fixed in the above commit, the tracks don't get bumped above ground until after drag has started. Re-closing.

[2018-05-30 17:55] #205 closed

[2018-05-30 18:00] jessegreenberg commented on #414
Tracks only snap out of toolbox after drag again, but this is still a problem. Steps to reproduce:
- Drag trackout of toolbox, release below ground so it snaps above ground
- Drag a control point so that the track repositions itself above ground

Track is not draggable anymore.

[2018-05-30 18:34] jessegreenberg commented on #414
It is from this case:

[code]
dragSource is defined but not equal to self in this case.

[2018-05-30 18:39] jessegreenberg commented on #414
Ah - For the record, this bug is in the published version.

[2018-05-30 18:48] samreid commented on #414
Good to know, thanks for checking that!

[2018-05-30 19:45] jessegreenberg commented on #414
It looks like `Track.physicalProperty` is not being set to true when it is bumped above ground.

Currently, the track isn't made physical when it is bumped above ground, and so when dragging starts on the ControlPointNode, the `track.dragSource` is set to the ControlPointNode's simple drag handler.

[code]
But then on ControlPointNode `drag`, the track is made physical, because `trackDragged` is c

[2018-05-30 19:57] jessegreenberg commented on #414
That seems to have fixed it.  Closing this issue.

[2018-05-30 19:57] #414 closed

[2018-05-30 20:05] jessegreenberg commented on #375
#205, #399, and #413 are wrapped up, so this sim is ready for republication with PhET brand. https://github.com/phetsims/energy-skate-park-basics/issues/411 will determine if a PhET-iO version needs  to be done at the same time. Once that issue is clarified we can create an RC.

[2018-05-30 20:07] jessegreenberg commented on #411
Sim is ready for an RC out of master, Ill wait to hear about which brands are required to build and make the RC task.

[2018-05-30 20:09] kathy-phet commented on #411
Since this version of PhET-iO is already available to clients, we should maintain it in sync with what is on the website. That is to say we should republish PhET-iO too.

[2018-05-31 16:58] samreid commented on #411
@kathy-phet asked me to see what's changed between master and latest published version.  @zepumph the latest version I see in partners.md is 1.3.1-phet-io.  Has 1.3.2 not been shared with anyone?

Latest dependencies are https://phet-io.colorado.edu/sims/energy-skate-park-basics/1.3.2-phetio/dependencies.json

I tried the API diff tool like so: http://localhost/phet-io-wrappers/api-diff/api-diff.h

[2018-05-31 17:14] zepumph commented on #411
I have not shared it with anyone that I know of.

[2018-05-31 17:16] samreid commented on #411
Shared and noted in https://github.com/phetsims/phet-io/commit/297a59180857961897ce003f7eb909fb3ba399a9

[2018-05-31 20:26] samreid commented on #386
@lmulhall-phet can you check this on master?

[2018-05-31 20:43] lmulhall-phet commented on #386
@samreid, it seems to be fixed on master. I tested on macOS/Chrome/FF/Safari and an iPad 2 running iOS 9.3.5.

[2018-05-31 20:44] samreid commented on #386
My thanks!  I need to label this issue as "fixed pending deployment".

[2018-05-31 21:18] jessegreenberg commented on #411
Does that mean that a decision has been made and we should proceed with deploying PhET-iO brand out of master, or are we still considering? @samreid @zepumph what are the next steps for this issue?

[2018-05-31 21:21] samreid commented on #411
In discussion with @kathy-phet and @zepumph after today's status meeting, we agreed we will proceed with publishing the PhET-iO version together with the PhET brand version.  I'll leave this self-assigned to look through open issues and do basic PhET-iO testing to make sure this is ready for the QA team.

[2018-05-31 22:52] zepumph commented on #411
@samreid I just looked through the phet-io wrapper suite with ESPB and found that the state wrapper is broken (won't change off of the homescreen)

I would also like to mention that I think that the following phet-io issues should be discussed (if not solved) in this release's context before moving forward with qa:
* https://github.com/phetsims/phet-io-wrappers/issues/82 wrappers on the dev site w

[2018-06-01 18:41] samreid commented on #411
studio => launch is also broken at the moment, will need to be fixed before QA.  Somewhat related to https://github.com/phetsims/phet-io/issues/1326

[2018-06-02 01:03] lmulhall-phet commented on #391
@samreid, here's what colorized looks like on macOS:

![espb](https://user-images.githubusercontent.com/31285590/40868799-fa4e05a8-65cd-11e8-91b4-1f133f20e8bc.gif)

I think it's safe to say that FF Quantum didn't solve this issue. I'll do some further testing on a Windows machine.

[2018-06-04 19:15] samreid commented on #411
Studio => launch and the state wrapper are repaired in the preceding commits.

[2018-06-11 21:07] samreid commented on #411
I skimmed through the wrappers and they are behaving much better now.  I'm sure QA will find many important things to fix, but it's at least at a point now where it is testable.  @zepumph anything else from you?  @jessegreenberg what else has to happen before we create the RC?

[2018-06-11 23:09] jessegreenberg commented on #411
Thanks @samreid! I don't believe anything in this sim specifically.

Do you believe a dev test is warranted before proceeding with RC then?

[2018-06-12 04:30] samreid commented on #411
A dev version sounds appropriate.  Let's check with the rest of the team and @zepumph in particular about whether there is any blocking work that would prevent a dev version.  @jessegreenberg will you take the lead on this and create a dev version with `brands=phet,phet-io` when ready?

[2018-06-12 18:53] zepumph commented on #411
I am worried about phetsims/phet-io-wrappers#82, and not sure how to proceed in regards to this issue. @samreid can we please discuss this further this afternoon.

[2018-06-12 22:01] jessegreenberg commented on #411
https://github.com/phetsims/energy-skate-park-basics/issues/411#issuecomment-396462447 - indeed, just let me know when it is ready.

[2018-06-14 21:05] jessegreenberg commented on #400
Closing, this is going  to be done in energy-skate-park.

[2018-06-14 21:05] #400 closed

[2018-06-18 16:16] samreid commented on #411
@zepumph do you think we can create a dev test for this sim now?

[2018-06-18 19:04] samreid commented on #411
@zepumph pointed out the two linked issues above, once they are closed @jessegreenberg can proceed to create a dev version.

[2018-06-18 19:28] zepumph opened #415 "Fuzz Mouse: Assertion failed: instance not found for energySkateParkBasics.playgroundScreen.model.controlPoint_60.sourcePositionProperty"
Occurs within 10 seconds when fuzzMousing the studio wrapper.
[code]

[2018-06-18 19:28] zepumph commented on #415
We should look into this before #411 also.

[2018-06-18 19:29] samreid commented on #415
I got this after about 6 seconds:
Assertion failed: instance not found for energySkateParkBasics.playgroundScreen.model.controlPoint_30.sourcePositionProperty

[2018-06-18 23:59] zepumph commented on #415
@samreid and I pared on this for a very long time. I will try to illustrate the problem at hand, and then enumerate the solutions that we visited. Finally I will include suggestions for how to proceed (oh yes, this is going to be a long one).

The issue has come up before, especially in ESPB, but basically is has to do with a component starting an event, and then being disposed before that event c

[2018-06-19 00:06] zepumph commented on #411
#415 has brought up many real concerns for the phet-io side of this issue, we should wait for that to be taken care of before tackling dev testing.

[2018-06-19 00:46] zepumph commented on #415
@samreid and I just had another conversation, and I think that @samreid has come up with the solution to the above problem. Right now we have been working under the assumption that a component's endEvent cannot be called after it is disposed, and so we are prematurely ending events and trying to manage the downstream effects of that. Instead what if we change our philosophy to allow the `endEvent`

[2018-06-19 04:29] samreid commented on #411
@zepumph and I wrapped up the 3 preceding issues.  @jessegreenberg you are approved to create a dev version for QA for `brands=phet,phet-io`.

[2018-06-20 00:34] jessegreenberg commented on #371
This is going to get tested in https://github.com/phetsims/QA/issues/134.

[2018-06-20 17:36] jessegreenberg commented on #371
This is being tested and has been linked to the issue, removing my assignment.

[2018-06-20 17:40] jessegreenberg commented on #411
Thanks for your work on this @samreid and @zepumph. PhET brand version is being tested in https://github.com/phetsims/QA/issues/134. @zepumph recommended to create an issue for testing the PhET-iO version once https://github.com/phetsims/QA/issues/19 is done. But [both brands were built](https://bayes.colorado.edu/dev/html/energy-skate-park-basics/1.4.0-dev.1/).

[2018-06-28 22:10] JRomero0613 opened #416 "Dispose Thermal Energy button appears clickable when it is not"
Test device: PC Laptop

Operating System: All versions

Browser: All

Problem description: When the dispose thermal energy button associated with the pie chart is grayed out, indicating that it can't be clicked on, and a user scrolls over the button the cursor changes to a finger which it should not. All other buttons that aren't clickable, including the other dispose thermal energy button associa

[2018-06-29 20:15] megan-phet opened #417 "Tracks can be lost"
**Test device:**

MacBook Pro

**Operating System:**

macOS 10.13.5

**Browser:**

All, latest.

**Problem description:**

For phetsims/QA/issues/134. Moving the tracks to the ground will bump them up off the screen.

This problem is similar to #271, which was found by @jonathanolson.

**Steps to reproduce:**

1. Link the tracks together.
2. Drag the last node to the ground.
3. Drag the second to

[2018-06-29 20:20] lmulhall-phet commented on #417
It is possible to lose just one track following the above steps. @megan-phet thought it would be a good idea to show how to lose all of the tracks.

This issue can be resolved by pressing the reset all button.

[2018-07-02 16:14] jessegreenberg commented on #417
This does look related to #271, but easier to reproduce. I do see this in the published version. `bumpAboveGround` docs are tagged with #71, heading over there for more info.

[2018-07-02 16:16] jessegreenberg commented on #417
Comments over there say

[2018-07-02 16:42] jessegreenberg commented on #417
While looking into this I noticed that tracks can also be lost when resizing the window:
https://i.gyazo.com/1a322e46acf3e976b5da1cdb46d3591d.gif

[2018-07-02 17:51] jessegreenberg commented on #417
One way to fix this is to restrict control points to the available bounds when bumping the track above ground and when the model bounds change. This changes behavior slightly because the track shape can change during some window size changes. @arouinfar @ariel-phet or @samreid can you think of a reason this would not be desirable?

For instance, here is the new behavior:
https://i.gyazo.com/828e4e

[2018-07-02 19:02] jessegreenberg commented on #416
Hmm, weird this isn't an issue doesn't happen for the other ClearThermalButton in the bar graph.

[2018-07-02 19:06] jessegreenberg commented on #416
This is not an issue for the deployed version of the sim.

[2018-07-02 19:16] samreid commented on #417
I agree the main disadvantage of the proposed approach is changing the shape of the track, but it is impossible to keep the track shape intact and fully in bounds for the cases you described.  So maybe that's OK?  I'd love to hear from @arouinfar and @ariel-phet.

[2018-07-02 19:32] jessegreenberg commented on #416
Ah, PieChartLegend has cursor: 'pointer', and when disabled, RectangularButtonViews have cursor "null", so they inherit from their parent.

Is there a reason why the panel has a `pointer` cursor?

[2018-07-02 19:43] jessegreenberg commented on #416
Hmm, after  checking out SHAs for 1.1, I would have expected this bug to be in the published version as well, I don't see any notable differences. But this is the only clickable item in the panel so I believe it is safe to remove the cursor option from the panel.

[2018-07-02 19:55] arouinfar commented on #417
@samreid I'm on board with @jessegreenberg's proposed solution. I think it's important to keep the track nodes within the visible bounds, so shifting the track shape when resizing the window is an acceptable trade-off.

I doubt that many users will be habitually resizing their browser windows. However, for those who do resize the window, I think the behavior in @jessegreenberg's gif looks pretty n

[2018-07-02 20:32] jessegreenberg commented on #409
Should be on the lookout for this, but I don't see a need to do more in ESP:B since much of the code is being moved to ESP once the sim is being redeployed. Any additional JSDoc should be added to energy-skate-park repo.

[2018-07-02 20:32] #409 closed

[2018-07-02 20:48] jessegreenberg commented on #406
This was done in ESP, closing this issue.

[2018-07-02 20:48] #406 closed

[2018-07-02 20:54] jessegreenberg commented on #404
Removed in the above commit in energy-skate-park.

[2018-07-02 20:54] #404 closed

[2018-07-02 21:00] jessegreenberg commented on #403
Its just that the documentation needs to be updated, probably was renamed from DebugTracks to debugTrack.

[2018-07-02 21:00] jessegreenberg commented on #403
Getting tracked in https://github.com/phetsims/energy-skate-park/issues/13

[2018-07-02 21:00] #403 closed

[2018-07-02 21:30] jessegreenberg commented on #401
If anything is going to be done, it should be done in ESP.

[2018-07-02 21:30] #401 closed

[2018-07-03 15:41] ariel-phet commented on #417
Agreed @jessegreenberg proposed solution seems like a good trade-off

[2018-07-03 15:49] jessegreenberg commented on #417
Great, thanks all. Ready for review.

[2018-07-03 20:54] megan-phet commented on #417
@jessegreenberg it's fixed on master.

[2018-07-03 20:57] megan-phet commented on #271
@jessegreenberg it's fixed in master.

[2018-07-03 21:02] megan-phet commented on #271
@jessegreenberg it's fixed on master.

[2018-07-03 22:48] jessegreenberg commented on #417
Thanks @megan-phet! Since we are currently in dev testing, we can be sure that the fix will make it into the next RC. Closing this issue.

[2018-07-03 22:48] #417 closed

[2018-07-03 22:48] jessegreenberg commented on #416
Since we are currently in dev testing, we can be sure that the fix will make it into an upcomming RC. Closing this issue.

[2018-07-03 22:48] #416 closed

[2018-07-03 22:51] jessegreenberg commented on #402
Moved to https://github.com/phetsims/energy-skate-park/issues/17, closing.

[2018-07-03 22:51] #402 closed

[2018-07-03 22:54] jessegreenberg commented on #375
This sim is currently in dev testing in https://github.com/phetsims/QA/issues/134. We are also publishing a new PhET-iO version out of master in #411.

[2018-07-04 00:03] #372 closed

[2018-07-10 20:06] megan-phet opened #418 "Sharp vertex in tracks makes skater spaz and makes total energy increase"
**Test device:**
- MacBook Pro

**Operating System:**
- macOS 10.13.5

**Browser:**

- All Latest

**Problem description:**

For phetsims/QA/issues/134. When the skater is stopped on a sharp vertex of the track, she moves up and down the track rapidly, and she can somehow obtain more kinetic energy. The pie chart gets much larger, and the kinetic energy and total energy on the bar chart increase.

[2018-07-10 20:11] KatieWoe commented on #418
I have a theory about what may cause the sharp track vertex.  When a sharp vertex in the track is made one of the points in the track shifts randomly.  Usually this creates a more gentle curve.  However, if the point chosen moves in a direction that still results in a sharp vertex the points do not shift again to correct it.

[2018-07-10 21:56] megan-phet opened #419 "Track does not get smoothed out after repositioning"
**Test device:**
- MacBook Pro

**Operating System:**
- macOS 10.13.5

**Browser:**
- All latest

**Problem description:**

For phetsims/QA#134. After repositioning a smooth track the jagged edges will reappear.

**Steps to reproduce:**
1. connect two tracks together
2. make a curve by dragging any point on the track.
3. reposition the whole track

**Screenshots:**

[video](https://drive.google.co

[2018-07-10 22:52] KatieWoe opened #420 "Kink/Loop in track after making a connection"
**Test Device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome
**Problem description:**
When connecting two pieces of track one of the points will shift and cause a kink or loop in the track, instead of a smooth curve.
For phetsims/QA/issues/134
**Steps to reproduce:**
1. Go to the playground screen
2. Manipulate the first piece of track so that it is a sharp bowl shape opening

[2018-07-10 23:02] megan-phet opened #421 "Skater can fall outside of loop and skater can fall through track"
**Test device:**
- MacBook Pro

**Operating System:**
- macOS 10.13.5

**Browser:**
- All latest

phetsims/QA/issues/134 Are these acceptable behaviors?

- [Skater falls outside of loop](https://drive.google.com/open?id=1N0NlRvqYULcLoxCuOPW5xb8rZm6dWOW4)
- [Skater falls through track](https://drive.google.com/open?id=1FqS6lNk8VcYjdsTcIfmeRCSKk04cgGd6)

[2018-07-11 17:10] KatieWoe opened #422 "Increasing Thermal and Total Energy When Shaking Track"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome 67.0.3396.99
**Problem description:**
For phetsims/QA/issues/134
Possibly related to phetsims/energy-skate-park-basics/issues/32 and phetsims/energy-skate-park-basics/issues/418
When shaking the track in the playground screen while the skater is moving, thermal energy can continuously go up, making thermal energy and

[2018-07-11 21:49] KatieWoe opened #423 "Performance Issues in Microsoft Edge"
**Test device:**
Hanson and Dell
**Operating System:**
Windows 10
**Browser:**
Edge
**Problem description:**
Skater lags while on track.  This is mostly the case when sliders are adjusted while the skater is moving, particularly the friction slider.  This problem so far seems to only appear in Edge.
This is for phetsims/QA/issues/134
**Steps to reproduce:**
1. Choose the Playground Screen (The oth

[2018-07-11 23:49] KatieWoe opened #424 "Large Energy From Catching Skater"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome
**Problem description:**
Total and Thermal Energy can become very large by letting skater leave track then using track to catch her and launch her again.  For phetsims/QA/issues/134  Likely connected to phetsims/energy-skate-park-basics/issues/422 and phetsims/energy-skate-park-basics#32 and phetsims/energy-skate-par

[2018-07-12 15:35] KatieWoe opened #425 "Bars in bar graph appear in front of track"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome and Edge
**Problem description:**
If tracks in the playground screen are laid over the energy bar graph they will appear in front of the axes, titles, and labels.  However, it will appear behind the bars showing energy.  The skater herself will appear in front of he bars showing energy.  This is for phetsims/QA/issue

[2018-07-12 21:19] EthanWJohnson commented on #424
You're able to achieve a similar effect by changing the track geometry the skater is on while going over it. Instead of catching and, grab a track vertex as the skater is near it and alter its positioning, adding on to the thermal and total energy indefinitely.

![image](https://user-images.githubusercontent.com/22551096/42659791-976d996a-85e6-11e8-9439-529adeadb537.png)

From what i'm seeing here

[2018-07-12 22:58] EthanWJohnson opened #426 "High GPU/Memory Usage"
-Windows 10 Ver. 1709.16299.547

-Chrome Ver. 67.0.3396.99

Energy Skate Park Basics is taking up an alarming large amount of GPU power. On any screen other than the home screen, sitting idle with no movement onscreen (and not paused) it's sitting anywhere from 45-50% GPU usage. Anything happens onscreen, GPU usage spikes to 80% depending on what's happening--highest spikes are on the playground s

[2018-07-12 23:16] jessegreenberg commented on #423
Thanks @KatieWoe, can you please comment on how the performance on Edge you observed in 1.4.0-dev.1 compares to the performance you observe of the published version on the same platform?

[2018-07-13 14:41] KatieWoe commented on #423
I just checked the published simulation in edge on two windows 10 computers.  They didn't show the same jumping lag that I saw in the dev version.  However, there was very significant lag when click and dragging objects such as the thumbs on sliders, the skater, or track pieces.  The simulation also ran significantly slower.  It took about 5 seconds longer for the skater to go back and forth on th

[2018-07-13 18:00] jessegreenberg commented on #423
Thanks @KatieWoe. I confirmed that framerate drops when using the sliders with a moving skater on Edge.  From https://github.com/phetsims/energy-skate-park-basics/issues/423#issuecomment-404853868, it is good to hear that there are other places where performance has improved since the previous release.

@ariel-phet are you able to test this on Edge? If so, can you help decide if we should spend ti

[2018-07-13 18:33] jessegreenberg commented on #426
I see GPU usage while running the sim, though not as high for my machine as reported in the ticket.
For me, here is idle:
![capture](https://user-images.githubusercontent.com/6396244/42706963-e01fab26-8695-11e8-93e6-42698747f8f7.PNG)

And when skater is moving with bar and pie charts:
![moving](https://user-images.githubusercontent.com/6396244/42706975-e905a61e-8695-11e8-80c0-982ca40f4c4a.PNG)

I

[2018-07-13 19:01] megan-phet commented on #369
I also found this problem on my macOS 10.13.5 + all browsers. It seems like the skater will fall through the track whenever she is dropped on the portion of the track that is in close proximity to the ground. This occurred in the Intro, Friction, and Playground screen.

Noticed while doing testing for phetsims/QA/issues/134.

[video](https://drive.google.com/open?id=1iDAgePIRhzUBCXkmLHhAQata97E6YB

[2018-07-13 19:21] jessegreenberg commented on #425
Thanks @KatieWoe, fixed with the above commit:
![capture](https://user-images.githubusercontent.com/6396244/42710022-a39b5222-869f-11e8-875f-cea8d973641f.PNG)

[2018-07-13 19:38] jessegreenberg commented on #425
Reopening, @phet-steele mentioned this layering was intentional because of https://github.com/phetsims/energy-skate-park-basics/issues/295.

[2018-07-13 19:39] jessegreenberg commented on #425
Lets pick this up in #295 since this issue is a duplicate of that one.

[2018-07-13 19:39] #425 closed

[2018-07-13 19:42] jessegreenberg commented on #295
This was recently reported again in https://github.com/phetsims/energy-skate-park-basics/issues/295. I added the `EnergySkateParkBasicsView.trackLayer` in front of the `barGraphForeGround` and `barGraphBackGround` and the sim seemed to behave OK in Chrome, I didn't see any flickering. @samreid how can I test this to see if  we still  need to layer in this way?

[2018-07-13 19:48] samreid commented on #295
If I recall correctly, one of the implementation constraints was for all of the WebGL layers to be adjacent, so that scenery could collapse them into a single canvas.  This allowed us to stay within memory constraints for iPad2.

[2018-07-13 19:50] JRomero0613 opened #427 "Switching Between normal and full screen moves track out of bounds"
**Test Device:**
Mac Laptop
**Operating System:**
MacOS Sierra v. 10.12
**Browser:**
All
**Problem Description:**
When a track has been created and it touches the edges of the screen bounds in the normal view switching to full screen moves the track ends out of bounds. The screen shots below exemplify this, with the first one being the normal view and the second one the same track but the simulati

[2018-07-13 20:23] jessegreenberg commented on #424
@arouinfar @ariel-phet @samreid the report in  https://github.com/phetsims/energy-skate-park-basics/issues/424#issue-340443387 is physically accurate because this is just adding more energy to the system indefinitely, right?

To prevent bars from leaving the panel, should we add arrows like in CL:B?
![capture](https://user-images.githubusercontent.com/6396244/42711426-0a6bd22e-86a5-11e8-8074-3cbe5

[2018-07-13 20:31] jessegreenberg commented on #427
@JRomero0613 which version did you encounter this, 1.4.0-dev.1 or master? I expect this to be fixed in master by changes for https://github.com/phetsims/energy-skate-park-basics/issues/417.

[2018-07-13 20:56] jessegreenberg commented on #422
Here is a recording of this behavior:
<a href="https://gyazo.com/1fe3320aa5049126676a439939ffdf2b"><img src="https://i.gyazo.com/1fe3320aa5049126676a439939ffdf2b.gif" alt="Image from Gyazo" width="2000"/></a>

@arouinfar @ariel-phet can you please help determine what the correct behavior would be for this case?

[2018-07-13 21:31] ariel-phet commented on #422
@KatieWoe @jessegreenberg @arouinfar

I don't think this is actually a bug. You are vigorously shaking the track, the skater is moving on the track (as seen in the video) so you are continuing to add thermal energy to the system.

@KatieWoe thanks for pointing this out, but I think the behavior is reasonable for the situation (since total energy does continue to increase). I also think any attempt

[2018-07-13 21:31] #422 closed

[2018-07-15 22:51] samreid commented on #424
It does seem similar to #422--I'll wait to hear from @ariel-phet before working on this.

[2018-07-15 23:28] samreid commented on #418
Assigned to @ariel-phet for review, prioritization and timeline.

[2018-07-16 14:42] JRomero0613 commented on #427
@jessegreenberg This bug was present in version 1.4.0-dev.1, and not in master. If this is what you wanted then I say we can go ahead and close this issue.

[2018-07-16 15:02] jessegreenberg commented on #427
Great, thanks for checking @JRomero0613. In that case I think we can close this issue since it is fixed and won't show up in the next version.

[2018-07-16 15:02] #427 closed

[2018-07-16 15:39] jessegreenberg commented on #421
Stepping through `EnergySkateParkBasicsModel.interactWithTracksWhileFalling`, it looks like `this.crossedTrack` is returning false in these cases.

[2018-07-16 15:54] jessegreenberg commented on #421
Time consuming to iterate/create test tracks but I just found debugTrack query parameter will be really helpful. @ariel-phet can you please review this issue and prioritize, should it be fixed for the phetio/LoL release?

[2018-07-16 16:01] jessegreenberg commented on #420
Thanks  for reporting @KatieWoe. @ariel-phet is this a bug, and if so does it need to be fixed for the LoL/phetio release?

[2018-07-16 16:04] jessegreenberg commented on #419
This is not in the published version of the sim, and could have been introduced in changes for #417

[2018-07-16 18:26] jessegreenberg commented on #419
Comparing diffs, I don't see how change for #417 could cause this. I verifed that `updateTrackShape` is being called on drag end. Comparing against deployed version 1.1, that version used Events, and is updating track shape on 'reset', 'smothed', and 'updated'. I see that TrackNode is now adding listeners to Emitters for these events, perhaps we are missing an emit() call?

[2018-07-16 18:36] jessegreenberg commented on #419
By comparison to 1.1 branch, I am not seeing any missing emit calls. It is working correctly when dragging ControlPointNodes,  maybe Ill have better luck there.

[2018-07-16 18:38] jessegreenberg commented on #419
Also, it looks like this bit of code in TrackNode should be handling exactly this issue:
[code]

[2018-07-16 18:40] jessegreenberg commented on #419
Oh, `draggingProperty` is not being updated when the track is dragged.

[2018-07-16 18:47] jessegreenberg commented on #419
I added this to TrackDragListener on end and it seemed to fix the problem.

[code]
Was something like this in 1.1?

[2018-07-16 18:49] jessegreenberg commented on #419
Sort of, used to be this:
[code]

This may have been introduced in the Property->PropertySet refactor? Anyway, I think this should be fixed. @megan-phet could you please check on phettest?

[2018-07-16 18:50] jessegreenberg commented on #418
I will wait to look into it until hearing about https://github.com/phetsims/energy-skate-park-basics/issues/418#issuecomment-405126328.

[2018-07-16 18:54] jessegreenberg commented on #295
Thanks @samreid, then Ill revert the change. I would guess based on prioritization of this issue that this may be deferred for the upcomming Lol/phetio release, and maybe we could look into it as part of energy-skate-park. @ariel-phet can you please confirm?

[2018-07-17 15:15] samreid commented on #369
Perhaps if the skater crosses both the ground and the track in the same time step, the code currently doesn't check which the skater crossed *first*.

[2018-07-17 19:23] megan-phet commented on #419
@jessegreenberg, on the version in master, there are no tracks.

[video](https://drive.google.com/open?id=18vSAZL5Dxoit_pFU_yAvqY1zPPwPppqJ)

[2018-07-17 21:15] jessegreenberg commented on #419
Uh oh! Thanks for letting me know.

[2018-07-17 21:16] jessegreenberg opened #428 "Tracks have dissapeard"
In #419 @megan-phet said that tracks have disappeared in master.

[2018-07-17 23:01] arouinfar commented on #424
@KatieWoe interesting find. I do not think the behavior in your screen capture is physically incorrect, though it certainly reveals a design flaw with the bar graph itself.

If I play with the sim in a window with a narrow aspect ratio, it's quite possible for the bars to go beyond the bounds of the panel, simply by dragging the skater to the top of the window. This looks messy to me, so I would b

[2018-07-18 15:43] KatieWoe commented on #369
Good catch.  I was also able to replicate this on different tracks and some different heights.  This can also be done on the curved track if you drop the skater just to the left of the x=2 coordinate.  Most y values worked for this.
![drop track](https://user-images.githubusercontent.com/41024075/42892424-0a06188a-8a6f-11e8-93c1-dd80bc729703.gif)

[2018-07-18 16:01] KatieWoe commented on #418
An easier way to reproduce this.
1. Drop the skater on  a track with a gentle vertex.
2. While the skater is moving, drag one of the track points so that a sharp vertex on the track
3. Fire on hold.  The vertex will remain as long as you do not let go of the point.  Once you let go the vertex will likely correct itself.

Screenshot
![vertex](https://user-images.githubusercontent.com/41024075/42893

[2018-07-18 16:17] KatieWoe commented on #369
One more example with the bowl-shaped track.
Test device: Dell Laptop

Operating System: Windows 10

Browser: Chrome Version 67.0.3396.99

![track drop two](https://user-images.githubusercontent.com/41024075/42894298-b54cf6c4-8a73-11e8-8bbc-4d37748b6962.gif)

[2018-07-18 16:47] KatieWoe opened #429 "Strange Multitouch Behavior"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome 67.0.3396.99
**Problem description:**
The skater will randomly teleport, gain energy, and fly off in random directions if held aloft while switching tracks in the intro and friction screens.  This is done using multitouch.
For phetsims/QA/issues/134
**Steps to reproduce:**
1. Go to the intro screen.
2. Drag the skate

[2018-07-19 02:29] jessegreenberg commented on #424
Thanks @arouinfar. @ariel-phet is this an enhancement we should add in energy-skate-park, and defer for the upcomming LoL/PhET-iO release?

[2018-07-19 16:33] KatieWoe commented on #429
Issue is also present on iOS 9.3.5 on the iPad Air 2.

[2018-07-20 15:43] ariel-phet commented on #423
@jessegreenberg looking at this on Edge Win 10, the skater stalls pretty brutally in the situation @KatieWoe described (wide parabolic track). It seems worthy of at least some initial investigation of why performance is so choppy in this situation on Edge (it is perfectly smooth on Chrome).

I would say spend an hour or two investigating, or maybe schedule an hour or two with JO in the coming week

[2018-07-20 16:27] KatieWoe opened #430 "Darkened Pie Chart When Skater is Underground"
Test device:
Dell Laptop
Operating System:
Windows 10
Browser:
Chrome 67.0.3396.99
Problem description:
For phetsims/QA/issues/134
Possibly related to phetsims/energy-skate-park-basics/issues/177
It is possible to make the skater skate fully underground while they are still on the track.  If this happens while the Pie Chart checkbox is selected, the pie chart will darken partially or entirely whil

[2018-07-20 17:44] phet-steele commented on #430
@KatieWoe @samreid @jessegreenberg I swore I logged this like a year ago, but apparently not, so thanks! The associated warning shows this is due to WebGL:

[code]

[2018-07-20 18:00] phet-steele opened #431 "Track gets filled between two points"
@samreid @jessegreenberg @jonathanolson take a look:

![image](https://user-images.githubusercontent.com/5863899/43017518-a54d01d2-8c13-11e8-9290-48d66adf54f1.png)

This just happens from normal use, and can flicker (change between filled/not filled) while dragging track nodes around. I went aaaaaalllll the way back to 1.0.0 of ESPB and the problem still exists (!). Since I'm seeing this on a comm

[2018-07-23 15:52] KatieWoe commented on #419
Just took a look at this, and it seems to be fixed in master.

[2018-07-23 16:39] jessegreenberg commented on #419
Thanks for verifying @KatieWoe. Closing this issue.

[2018-07-23 16:39] #419 closed

[2018-07-23 16:46] jessegreenberg commented on #431
Weird, thanks @phet-steele. @KatieWoe are you able to reproduce this bug on any of PhET's other testing devices? I just tried for a few minutes to get this to happen on my Windows 10 with Chrome 67.0.3396.99 (Official Build) (64-bit) for a few minutes but wasn't able to.

[2018-07-23 17:33] KatieWoe commented on #431
I haven't managed to recreate it on any of the three Windows 10 devices we use for testing while on chrome.  I'll keep trying, as well as take a look at other browsers and devices, but I haven't seen anything like this so far.

[2018-07-23 19:32] jessegreenberg opened #432 "Should the skater be allowed to go underground?"
Discovered as something that causes #430, but I find it a little strange that the skater is allowed to go below ground. We should handle the case in #430, but I am wondering if a broader issue is that the skater is allowed to go underground at all. @arouinfar @samreid, what do you think?
![capture](https://user-images.githubusercontent.com/6396244/43098578-b82dd5a4-8e7c-11e8-946b-b5785991d6a6.PNG)

[2018-07-23 19:48] jessegreenberg commented on #430
In these cases in `PieChargeWebGLSliceNode.paint`, `numToDraw` is 1009 and `this.vertices.length` is 2004, but  `this.vertices` is a flat array of x and y values, and WebGL moves through them 2 at a time, so I think that numToDraw must be less than this.vertices.length / 2 to work correctly.

We could limit the value in `PieChargeWebGLSliceNode.paint`, or maybe there is a better way in PieChartWeb

[2018-07-23 19:56] arouinfar commented on #432
@jessegreenberg I also find it odd that the skater can go underground. Is there a reasonable way to prevent this? If the red point under the skateboard gets to h < 0, does the skater just "fall" off and sit on the ground next to the track? This method wouldn't prevent all underground cases, such as when the skater is only partially underground.
![image](https://user-images.githubusercontent.com/84

[2018-07-23 21:04] jessegreenberg commented on #432
I tried this, but found a few other cases where h can be less than zero while dragging a control point, mostly while dragging a control  point. The track bumps above ground at the end of the dragging interaction rather than during, which is why portions of the track can currently reach h < 0.

Can we ensure that the track rather than just the control points remain above zero while dragging?

[2018-07-23 21:12] jessegreenberg commented on #432
That behaves strangely because it bumps up move
![ezgif com-resize](https://user-images.githubusercontent.com/6396244/43103292-d696a4ae-8e8a-11e8-9857-ca677f4530d1.gif)

[2018-07-23 22:58] jonathanolson commented on #431
Doesn't look related to WebGL (paths here would be drawn in SVG most likely, possibly canvas).

Does `?rootRenderer=canvas` prevent this on the platform where it shows up?

[2018-07-23 23:07] phet-steele commented on #431
No issue when using that renderer.

[2018-07-24 00:45] jessegreenberg commented on #432
This bug is only possible because the skater continues to move before the track is shifted above ground on release.

One option is that we could stop skater movement and reset energies while dragging the track. Sort of like how we "reset" the energy when the skater is grabbed. Is it important for skating to continue while  dragging the track?

Another option (not too sure yet how this would impact

[2018-07-24 00:50] jessegreenberg commented on #431
@jonathanolson are you recommending we use `renderer: canvas` on the track? To reduce memory usage the WebGL content is in a single layer to reduce the number of canvases required (#295). Is there any reason to believe that using `renderer: canvas` would be bad for memory/performance for similar reasons?

[2018-07-24 00:56] jessegreenberg commented on #430
I verified that this line of code near the `numToDraw` calculation in PieChartWebGLSliceNode makes the warning go away:
[code]
But we are still running into a case with negative potential energy, which will need to be address in #432.

[2018-07-24 01:02] jessegreenberg commented on #430
@KatieWoe can you please verify that the original issue has been fixed?

[2018-07-24 02:55] samreid commented on #431
I don't know if `canvas` and `webgl` can share the same raster.  Even if they can, it seems likely that we would have to redesign the z-ordering in order to get them into the same raster, or there may be constraints in the design that prevent them from using the same raster.

[2018-07-24 03:10] samreid commented on #432
There is code that bumps the track to always be above y=0.  We could change that to be y>=SKATER_HEIGHT, but then you could never make a parabola with y=0.

I don't think it's too confusing for the skater to pass in front of the ground--it is already somewhat unusual that the skater is hanging to the track like a roller-coaster, but hitting the ground would disrupt the motion and maybe distract fr

[2018-07-24 06:11] jonathanolson commented on #431
It would probably have memory/performance issues.

I believe they can't.

[2018-07-24 20:06] KatieWoe commented on #430
Looks good on Master.

[2018-07-24 21:06] jessegreenberg commented on #430
Thanks!

[2018-07-24 21:06] #430 closed

[2018-07-24 21:11] jessegreenberg commented on #429
Thanks @KatieWoe, reproduced.

[2018-07-24 21:13] jessegreenberg commented on #429
I was able to reproduce the issue in the published sim, just checked to see if it was related to #371

[2018-07-24 21:16] jessegreenberg commented on #429
When switching scenes, the skater is supposed to reset but maybe the drag handler is not interrupted.

[2018-07-24 21:31] jessegreenberg commented on #429
Fixed in the above commit. Closing.

[2018-07-24 21:31] #429 closed

[2018-07-24 23:54] jessegreenberg commented on #423
Interesting it happens more with the friction slider,  which indicates that it is not related to rendering since there is no graphical representation for friction on the track.

[2018-07-25 00:09] jessegreenberg commented on #423
On the other hand, I don't see any hits for `frictionProperty.link` and it isn't used in a `DerivedProperty`. Ill continue by trying out the Edge profiling tools, which actually look pretty nice, can clearly see the drop in framerate
![capture](https://user-images.githubusercontent.com/6396244/43172465-a9745c5e-8f6c-11e8-9c4a-52651f0064fe.PNG)

[2018-07-25 00:17] jessegreenberg commented on #423
![capture](https://user-images.githubusercontent.com/6396244/43172675-bb3acfc6-8f6d-11e8-9155-6bd4e653a850.PNG)

[2018-07-25 15:43] jessegreenberg commented on #423
It looks like most of the time is being spent in `renderDrawable` of `CanvasBlock`.

[2018-07-25 16:12] jessegreenberg commented on #423
The sim slows down about as much when I move the track or change its shape.

I figured out that if I remove the track layer, performance while dragging the slider is much improved. This includes on the  Playground screen while the skater is moving, was able to test with query params `debugTrack&testTrackIndex=6`.

Strangely, this is the opposite of what I would expect from https://github.com/phets

[2018-07-25 16:48] jessegreenberg commented on #423
Rendering the EnergySkateParkBasicsControlPanel with `svg` seems to dramatically improve performance. I have a tenuous grasp of the Scenery implementation here, but my thinking is that modifying anything in the same canvas Block in Edge (or maybe all browsers?) will force a redraw of everything in the Block. So putting the control panel in an SVGBlock will let us move the slider thumbs without red

[2018-07-25 17:04] jessegreenberg commented on #423
@KatieWoe can you please see if performance has improved on latest phettest? `canvas` is used in in Edge primarily for text issues like https://github.com/phetsims/molarity/issues/24. Please be on the lookout for any weird text rendering in the control panel.

[2018-07-25 17:36] KatieWoe commented on #423
Performance seems much better on master.  The sliders seem to lag behind the mouse when dragging a bit, but the performance is drastically improved.  Have not yet noticed any unusual text rendering.

[2018-07-25 17:36] jessegreenberg commented on #431
@ariel-phet can you please review this issue and determine how much time should be spent fixing this? I am unclear since we can't reproduce on any device on campus.

@phet-steele did you notice this issue in any platform other than Chrome?

One way forward could be to test a version where the track is rendered with `canvas` in Chrome, see if that fixes the issue on @phet-steele's machine, then tes

[2018-07-25 18:00] jessegreenberg commented on #423
Thanks @KatieWoe! I see what you mean with the slight delay while dragging the sliders. I am seeing a similar delay in Edge in a few other sims (like Pendulum Lab). @ariel-phet can you please review and let us know if the dragging delay for sliders is worth investigating? I personally don't think the delay is great enough to inhibit interaction, but I don't feel that I can make the decision.

[2018-07-25 18:05] jessegreenberg commented on #432
Is the issue great enough that it needs to be resolved prior to the release of the upcoming LoL/phet-io version?

[2018-07-25 18:20] arouinfar commented on #432
@jessegreenberg  resetting the skater's energy seems a bit inconvenient, particularly if a user is trying to fine-tune the track (for example, to made the loop a bit shorter).

That certainly sounds good, but I'd also be worried about performance.

This seems like more of an edge case to me, so it wouldn't be critical for LoL, but not 100% sure about PhET-iO.

[2018-07-25 23:22] ariel-phet commented on #432
@arouinfar @jessegreenberg @samreid here are my thoughts on this particular issue

1. I checked the java version of ESP, the skater can go underground in that one. So it would appear this behavior has been around for a LONG time, and I don't think it has caused any issues or concerns

2. To get the skater to have a negative PE take a very specific track arrangement, the skater skating on the "back

[2018-07-25 23:46] arouinfar commented on #432
That seems reasonable to me @ariel-phet, given that creating a situation with negative PE is more of an edge case.

When height < 0, it looks like the the model assumes (sets?) PE = 0, and the total energy is unaffected. For ESPB, I think that's acceptable.
![espbunderground](https://user-images.githubusercontent.com/8419308/43233209-070d7902-9032-11e8-960e-813848019958.gif)

[2018-07-26 01:00] ariel-phet commented on #431
@jessegreenberg I can reproduce this bug easily on the published version on the website on my Win 7 Chrome.

[2018-07-26 01:07] ariel-phet commented on #431
@jessegreenberg considering the popularity of this sim, and that the bug seems to be on Chrome (our most popular browser), this seems worth investigating. I will check on my Win 10 laptop as well

[2018-07-26 01:55] ariel-phet commented on #423
@jessegreenberg performance is MUCH better. I am not experiencing any lag that seems problematic. Nice work! closing

[2018-07-26 01:55] #423 closed

[2018-07-26 01:59] ariel-phet commented on #295
@jessegreenberg yes, this can be deferred and looked into as part of ESP

[2018-07-26 15:58] jessegreenberg commented on #432
Thanks everyone, sounds good. Closing this issue.

[2018-07-26 15:58] #432 closed

[2018-07-26 16:00] jessegreenberg commented on #431
Sounds good, then maybe it will be easier to track down. @KatieWoe can you please see if this is reproducible on any of PhET's Windows 7 devices, assuming we have one?

[2018-07-26 17:04] KatieWoe commented on #431
Tried it on our windows 7 computer.  Sorry, still wasn't able to reproduce it.  I tried both the published and the dev versions on chrome, firefox, and internet explorer.  I tried for a few minutes each, does it take a longer amount of time to reproduce?

[2018-07-26 18:06] jessegreenberg commented on #431
Thanks @KatieWoe. It sounds like @ariel-phet and @phet-steele were able to see this easily right away.

[2018-07-26 18:18] jessegreenberg opened #433 "branch: trackCanvasInChrome"
To explore a workaround for #431 without having to build dev versions.

[2018-07-26 18:20] jessegreenberg commented on #433
branches cannot contain dashes, renaming to trackCanvasInChrome

[2018-07-26 19:08] megan-phet commented on #418
It looks like it's fixed.

[2018-07-26 19:08] jessegreenberg commented on #431
@phet-steele @ariel-phet can you please try this one-off version and see if you can reproduce the issue? https://bayes.colorado.edu/dev/html/energy-skate-park-basics/1.4.0-trackCanvasInChrome.1/phet/energy-skate-park-basics_en_phet.html

In this version the track layer is rendered with canvas. If the bug is gone we can ask @KatieWoe to see if performance has gotten worse on our Chromium based devi

[2018-07-26 19:14] jessegreenberg commented on #418
@megan-phet did you mean to close this issue? I don't believe anything has been done to fix this issue.

[2018-07-26 19:59] megan-phet opened #434 "Skater falls through track with sharp vertex when not sticking to track"
**Test Device:**
- MacOS

**Operating System:**
- 10.13.5

**Browser:**
- All latest

**Problem Description:**
- For https://github.com/phetsims/QA/issues/134
Skater will fall through the track when skater is on sharp vertex and not sticking to track.

**Steps to Reproduce:**
1. Select the button that makes the skater fall from track.
<img width="178" alt="screen shot 2018-07-26 at 1 41 38 pm" src

[2018-07-26 22:22] samreid commented on #431
The main platform to test the canvas solution will be iPad2 and our lowest supported retina iPad, because allocating an extra fullscreen raster will take a lot of memory.

[2018-07-30 17:44] ariel-phet commented on #431
@jessegreenberg I cannot reproduce the issue with that one off version.

[2018-07-30 19:26] jessegreenberg commented on #431
Thanks @ariel-phet. Seems like there is enough to test here that I created a new issue in QA to test this. Checklist  in https://github.com/phetsims/QA/issues/158 to track progress.

[2018-07-30 19:46] jessegreenberg commented on #434
Thanks @megan-phet. This is strange, but I think the bug is more that kinks are allowable in the first place. The second example shows a case where the skater continues to move while dragging a control point, but kinks aren't removed until released. I do not know how to create the first example. @megan-phet how did you create that?

[2018-07-31 16:24] jessegreenberg opened #435 "Sim crashing on iPad 2"
From #431 and https://github.com/phetsims/QA/issues/158, the sim is crashing frequently on iPad2. @KatieWoe found that the one off version (https://bayes.colorado.edu/dev/html/energy-skate-park-basics/1.4.0-trackCanvasInChrome.1/phet/energy-skate-park-basics_en_phet.html) was crashing, which could have been expected after rendering the tracks with canvas in Chrome for #431.

But then @KatieWoe not

[2018-07-31 16:36] jessegreenberg commented on #435
Also, @lmulhall-phet and @KatieWoe confirmed that this was is happening in 1.4.0-dev.1, so this would have been introduced prior the version of that build.

[2018-07-31 17:38] megan-phet commented on #434
@jessegreenberg I just made a kink in the track and put the skater on it, then selected the fall from track button.

[video](https://drive.google.com/open?id=1N0NlRvqYULcLoxCuOPW5xb8rZm6dWOW4)

[2018-07-31 17:51] megan-phet commented on #418
Sorry @jessegreenberg didn't mean to close it, it's still an issue.

[2018-08-02 16:26] samreid commented on #431
Assigned @jonathanolson to take a look.

[2018-08-02 16:35] samreid commented on #435
Mac Chrome reports the following MB usage after starting the sim and putting the skater on the track on the 1st screen:

Published 1.1.7: 30MB
Local built: 34.3MB
Local requirejs: 38.4MB

[2018-08-08 15:36] samreid commented on #380
I am not seeing this problem in master.  https://github.com/phetsims/energy-skate-park-basics/issues/415 made it so that PhET-iO events end properly, even for disposed objects.  Closing.

[2018-08-08 15:36] #380 closed

[2018-08-09 03:26] ariel-phet commented on #435
Unassigning @samreid as he has plenty of issues. @jessegreenberg will figure this out :cat:

[2018-08-09 03:29] ariel-phet commented on #391
@lmulhall-phet or @KatieWoe can you do further testing on a windows machine?

[2018-08-09 03:41] ariel-phet commented on #386
Handing off to @jessegreenberg to be aware of when he works on deployments

[2018-08-09 14:54] KatieWoe commented on #391
Just tested colorized on Windows 10 Firefox and there does not seem to be an improvement.
At first the sim runs ok, with a bit of lag behind the mouse, similar to what @lmulhall-phet demonstrated.  However, after about a minute of running the sim is no longer able to be interacted with and starts putting up a not responding error.  The console stops showing new entries and this error is displayed.

[2018-08-13 16:11] jessegreenberg commented on #386
This sounds like the general "out of memory" problem in #435 so I would expect this to have resurfaced for Studio too.

[2018-08-13 16:15] jessegreenberg commented on #386
I asked Slack:
[code]

So this issue can be closed since Studio is not supported on that platform.

[2018-08-13 16:15] #386 closed

[2018-08-15 12:54] samreid commented on #391
On Mac Firefox on my laptop , performance drags when the console is getting full (5fps dragging the skater), then improves when clearing the console (back to 60fps or so).  Perhaps we can rely on developers knowing when buffers are getting full?

Regarding making the messages sparser, dragging the skater creates a message like this:
[code]

It doesn't seem like we would be able to make that any mo

[2018-08-15 20:52] zepumph commented on #391
To me this seems like an understandable problem since there is so much data. I didn't see this problem when the console was closed (correct me if I'm wrong). I would recommend a note in the wrapper index for these links saying that performance can be effected by such verbose logging to the console.

It shouldn't effect the normal use case, which is piping that data elsewhere (not the console), but

[2018-08-21 15:55] pixelzoom opened #436 "Assertion failed: Incorrect type in phet-io wrapper"
From CT:

energy-skate-park : phet-io-fuzz : require.js : load
Uncaught Error: Assertion failed: Incorrect type in phet-io wrapper. Expected <undefined>, received EnergySkateParkModel
Error: Assertion failed: Incorrect type in phet-io wrapper. Expected <undefined>, received EnergySkateParkModel
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-15348563

[2018-08-21 17:06] zepumph commented on #436
Assigning to @jessegreenberg because he is the lead developer on this sim. Let me know if you need any help on this.

[2018-08-21 17:12] pixelzoom commented on #436
Sorry @zepumph, I assigned to you because it looks like a pheti-io-wrapper issue.

[2018-08-21 17:16] zepumph commented on #436
Understood and very reasonable!

[2018-08-24 13:35] jessegreenberg commented on #434
I see, thanks for the video!

[2018-08-26 03:26] samreid commented on #391
It's my instinct that we will need to trust our clients to understand when the console or a textbox is getting too full.  If we have one or more clients that struggle with this, then we should re-evaluate.  @zepumph OK to close for now?

[2018-08-27 18:38] #391 closed

[2018-08-29 18:52] jessegreenberg commented on #436
I think this issue was meant for energy-skate-park, and was fixed in https://github.com/phetsims/energy-skate-park/commit/ad2bbe6f7cf865039afe08d274d4a17b18101dde. Closing.

[2018-08-29 18:52] #436 closed

[2018-08-29 19:15] jessegreenberg commented on #435
Playing on an iPad2, I noticed that the sim runs very well in the Intro and Friction screens, but crashes quickly after starting to use the "Playground" screen.

[2018-08-30 16:26] jessegreenberg commented on #435
Here are some notes from what I tried over the last couple days:

I tried to use a tool called [Weinre](https://people.apache.org/~pmuellr/weinre/docs/latest/Home.html) to debug without tethering the iPad to a Mac. The tool worked great and I will use it a lot in the future. But I wasn't able to use it to get any information about this particular crash.

A while ago, I made a tool that prints sim

[2018-09-04 00:49] samreid commented on #413
I reviewed this code change and tested dragging tracks on the third screen and did not see any issues.  Thanks for pointing out this collision @pixelzoom.  Back to you @jessegreenberg, close if there's nothing else to do.

[2018-09-04 17:26] jessegreenberg commented on #413
OK, thanks @samreid .

[2018-09-04 17:26] #413 closed

[2018-09-10 15:47] jessegreenberg commented on #435
Here are more notes from this:

A sim built with SHAs from 2017-08-17 at 22:41:19 does not crash. A sim built with SHAs at 2017-19-18 10:25:37 crashes almost as soon as the third screen button is pressed.

The commit at 2017-08-17 at 22:41:19 is `dba01386dd884865c2111c0b5c63f31a4cdfbefb` to Sherpa, with commit message

The commit at 2017-19-18 10:25:37 is `f611b69e80756e4e10653ec59113d0f7f74eea83`

[2018-09-10 15:48] jessegreenberg commented on #435
I also noticed that this issue is very related to #343, which was also caused and fixed by memory related issues. The fix there didn't seem to reduce the JS heap.

[2018-09-10 15:51] jessegreenberg commented on #435
Most times before the sim crashes I notice that the skater image disappears and the sim stalls for a second or two before we see the "Something went wrong..." message.

[2018-09-10 22:19] jessegreenberg commented on #435
If I remove ```this.backingScale *= 2;``` from WebGLBlock it definitely helps. With that line, the sim crashes 10/10 times when switching between screens. When I removed that line, the sim crashed 1/10 times on my iPad2.

[2018-09-10 22:26] jessegreenberg commented on #435
I just tested again to see if the crash was a fluke after removing `this.backingScale *= 2; from WebGLBlock`, and I had exactly the same result, sim crashed 1/10 times. So that doesn't totally fix it.

[2018-09-10 23:05] samreid commented on #435
Good discovery @jessegreenberg, the extra memory used by WebGL is a sensible culprit.

[2018-09-13 15:42] jessegreenberg commented on #435
I just remembered I was running a non-mangled version with Weinre, maybe those are the cause of the remaining crashing.

Regarding the comment about heap sizes (https://github.com/phetsims/energy-skate-park-basics/issues/435#issuecomment-409989428), I am not sure if that growth is a cause of this. For instance, when I run other sims like circuit-construction-kit-dc, the heap size grows beyond thes

[2018-09-14 15:52] jessegreenberg commented on #435
I was searching around for other changes related to WebGL, I found this issue https://github.com/phetsims/scenery/issues/637. There is a comment about it making images more expensive, but reverting the changes had no impact on the crashing rate.

[2018-09-14 17:08] jessegreenberg commented on #435
When I remove all of the nodes in the "WebGL Layer" in EnergySkateParkBasicsScreenView, I am unable to get the sim to crash, so it still seems related to WebGL.

@jonathanolson do you have any thoughts about why the sim might crash occasionally while changing screens? I noticed in the document that the "webgl-container" div doesn't exist until one of the screens is launched, and that each screen h

[2018-09-17 22:17] jessegreenberg commented on #435
@jonathanolson and I met to investigate this this today. We started by assuming that the crashing was due to hitting the memory limit, so we began to profile. But got wildly differing memory results depending on things like browser, operating system and whether or not we were in a private window. So we were not able to pinpoint the problem with the profiling tools available to us.

I will just lis

[2018-09-17 22:38] jessegreenberg commented on #435
Also, @jonathanolson mentioned that @phet-steele was able to produce a crash report by tethering the iPad to a Mac and inspecting with XCode. @phet-steele would you be able to do this? Or if you don't have the platforms available could you please list the steps for how to do this? This could help verify whether the crashing is actually memory related.

I also may be able to see Safari crash report

[2018-09-17 23:10] jessegreenberg commented on #435
I was able to get the crash log after connecting my iPad2 to itunes. At the time of the crash, there is a new JetsamEvent .ips file.  It looks something like this:
[code]

All processes have ```"reason" : "vm-pageshortage"```, which according to https://developer.apple.com/library/archive/technotes/tn2151/_index.html means that the process was killed due to **"memory pressure".**

[2018-09-18 14:48] samreid commented on #435
I’m running a built version from today's master of Energy Skate Park: Basics on iPad2 on iOS 9.3.5.  Over a minute with no crash.

[2018-09-18 15:13] jessegreenberg commented on #435
I can confirm the results of https://github.com/phetsims/energy-skate-park-basics/issues/435#issuecomment-422424628 on my iPad2 as well.

[2018-09-18 15:40] jessegreenberg commented on #435
I found that the sim crashed most consistently when changing screens. I built a version with 3 Playground screens, but added `pickable: false` to NavigationBar.js. The sim did crash with fuzzMouse, but it took 4 minutes.

[2018-09-18 15:47] samreid commented on #435
Does the sim crash in the PhET iOS App the same way it crashes when running in Safari?

[2018-09-20 16:47] samreid commented on #435
One strategy that may yield a useful breakdown of memory usage could be to embed the sim in a WKWebView and launch with XCode and Activity Monitor, like described here: https://stackoverflow.com/questions/36561063/get-current-memory-usage-of-wkwebview

Maybe that will open up the sim so we can see the memory usage?  Not 100% sure whether this or something like this would be useful, but I thought I

[2018-09-24 16:49] jessegreenberg commented on #435
I ran fuzzTest as a comparison with the deployed version of the sim and found that the sim is crashing on that version with fuzz testing as well. Three trials, it crashed at 105 seconds, 144 seconds, 120 seconds.

[2018-09-24 16:51] jessegreenberg commented on #435
Discussed with @ariel-phet, we may not do any more investigation here as the sim is crashing very infrequently on iPad2 under normal usage.  We will see if QA team can verify the low rate of crashing now, and we will move forward depending on what we learn in the next dev test.

[2018-09-24 17:34] jessegreenberg commented on #434
This is happening because when there is a sharp point in the track like this the skater falls off the track, but then gets reattached briefly on the under side of the track.

[2018-09-24 18:19] jessegreenberg commented on #434
When there are sharp points like this, the model has a difficult time determining the direction of the track normal vector used to determine whether or not the skater is on the top side of the track. For instance, the model indicates that the skater is on the "top" side of the track when it isn't in this case because of the sharp vertex.
![capture](https://user-images.githubusercontent.com/6396244

[2018-09-24 18:38] jessegreenberg commented on #420
I don't think this is a bug personally, just the behavior of the cubic splines.

[2018-09-24 18:43] jessegreenberg commented on #421
The first video is a duplicate of #434. The second video looks like something different.

[2018-09-26 19:09] jessegreenberg opened #437 "branch: pdom-transform"
To test https://github.com/phetsims/scenery/issues/852 in this sim.

[2018-09-27 05:06] samreid commented on #434
Our policy to get this simulation published was that we did not have to have correct physics for radically nonrealistic scenarios, so I'm not surprised to see this case, and there are probably others like it.  We did  experiment with trying to keep the track smooth at all times (even during dragging) but couldn't get it to work nicely (yet?). Would be good to hear from @ariel-phet too.

[2018-09-27 05:32] ariel-phet commented on #420
@KatieWoe @jessegreenberg I also do not think this is a bug, especially since it does not create a super sharp kink. I think this can be closed.

[2018-09-27 05:37] ariel-phet commented on #434
@jessegreenberg a few things:

1. The super sharp kink is not very pedagogically useful. I agree it would be nice if it were disallowed, but it definitely was tricky to get the current algorithm for track smoothing working as @samreid pointed out. You are definitely welcome to work more on this problem, but I think I would give it a limit. Something like 5-6 hours of investigation, and if you don'

[2018-09-27 05:40] ariel-phet commented on #418
@KatieWoe @jessegreenberg I think this is an "acceptable edge case" we should not do anything about, since you need to deliberately hold the drag point and keep it active for the track to not smooth itself out. The super kinked track is not pedagogically useful, so I don't think we need to do anything about this case.

Letting either of you close this issue.

[2018-09-27 05:48] ariel-phet commented on #424
@jessegreenberg @arouinfar yes, I agree we should add the CL:B style "off chart" arrows. I have reproduced this behavior, and certainly it is not incorrect physics as your are "pumping" energy into the system (I did the vertex control point moving). So I think the off the chart indicator is a nice solution.

[2018-09-27 06:02] ariel-phet commented on #421
@jessegreenberg the second video is interesting...since there is presumably no friction (which is what the sim state appears to be set to) it seems like the skater should go around indefinitely. This seems like a pretty clever case to set up, and I am a bit surprised the behavior changes...maybe some sensitive dependence on conditions and floating point error type thing?

Anyhow, the second video

[2018-09-27 14:39] KatieWoe commented on #418
@ariel-phet @jessegreenberg One concern I have before we close.  While it is easier to make the sharp vertex by holding the track there, it can sometimes be there after letting go.  Having trouble finding the issue at the moment, but when the track moves to get rid of the sharp point, the second position may also have a sharp point.  If this happens, the track is not repositioned a second time and

[2018-09-28 18:01] samreid opened #438 "Report on how much time to take care of PhET-iO part, for QA and dev side"
From my meeting notes from several weeks ago:

Self-assigned to identify and report as possible.

[2018-09-28 19:23] KatieWoe opened #439 "Clear thermal button present when energy is there."
**Device**
Dell Laptop
**OS**
Win 10
**Browser**
Chrome
**Problem Description**
Found during https://github.com/phetsims/QA/issues/197 (both versions) and may be related to https://github.com/phetsims/energy-skate-park-basics/issues/281
It is possible to see a tiny amount of thermal energy in the bar graph and pie chart, but not be able to click the clear thermal energy button.
**Steps to Reproduc

[2018-10-03 01:58] ariel-phet commented on #418
@KatieWoe sharp kinks are generally desirable to avoid, agreed, as they cause odd behavior. Perhaps find reproducible steps to what you describe above, make a separate issue, and close this one.

[2018-10-03 14:57] KatieWoe opened #440 "Still Possible to make sharp vertex"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/134 after discussion in https://github.com/phetsims/energy-skate-park-basics/issues/418#issuecomment-426487600.
Related to https://github.com/phetsims/energy-skate-park-basics/issues/193.
It is possible to still create sharp vertex in the playground scree

[2018-10-03 14:58] #418 closed

[2018-10-04 16:01] jessegreenberg commented on #439
Also related to https://github.com/phetsims/energy-skate-park-basics/issues/307. The thermal and total  energy bar have showSmallValuesAsZero false
[code]

The skater doesn't actually stop, continues to oscillate forever and all of the energy is very small, but this code is keeping thermal and total energies visible.

Maybe we could totally stop the skater in this case? Or we could adjust 1E-6 as

[2018-10-04 16:03] jessegreenberg commented on #439
Code comment says

[2018-10-04 16:18] jessegreenberg commented on #439
Here is a comment about why the thresholding is added for thermal and total, but not potential and kinetic https://github.com/phetsims/energy-skate-park-basics/issues/307#issuecomment-62442189

[2018-10-15 18:40] jessegreenberg commented on #434
Thanks for the input @samreid and @ariel-phet. The track kinks are now being reported and tracked in #440, so I am going to close this issue proceed there with the above comment in mind.

[2018-10-15 18:40] #434 closed

[2018-10-15 18:41] jessegreenberg commented on #440
Regarding sharp track kinks, @ariel-phet said in https://github.com/phetsims/energy-skate-park-basics/issues/434

[2018-10-15 19:53] jessegreenberg commented on #440
In the tracks found in https://github.com/phetsims/energy-skate-park-basics/issues/434, the smoothing algorithm is returning that smoothing was successful, so I would like to understand why this is considered smooth:
![capture](https://user-images.githubusercontent.com/6396244/46974506-2d620000-d092-11e8-8717-f3b503e3e10f.PNG)

[2018-10-15 19:56] jessegreenberg commented on #440
The correction loop:
[code]

```this.getMinimumRadiusOfCurvature()``` is 0.031, `MAXIUMUM_ACCEPTABLE_RADIUS_OF_CURVATURE` is 0.3.

[2018-10-15 20:05] jessegreenberg commented on #440
The problem may be with getMinRadiusOfCurvature, which can return larger numbers occasionally like in https://github.com/phetsims/energy-skate-park-basics/issues/440#issuecomment-429990259, and then much smaller numbers with seemingly identical tracks, causing a re-smooth.

[2018-10-15 20:16] jessegreenberg commented on #440
If I increase numDivisions in getMinimumRadiusOfCurvature to 800, curvatures are more accurate. But smoothPointOfHighestCurvature is now unable to find a control point.

[2018-10-16 16:31] jessegreenberg commented on #440
I am abut 2 hours into this, which helped me understand how the current algoritm works and try a couple of solutions.

From this issue and #434, there are two reasons that kinks might show up, the track is incorrectly considered smooth by the model, and the model is unable to smooth a kinked track.

The first case will happen because of the resolution of getMinimumRadiusOfCurvature, which breaks t

[2018-10-16 22:52] jessegreenberg commented on #440
I tried this and it is working well so I am going to commit. In getMinimumRadiusOfCurvature and getUWithHighestCurvature, we find local minima and maxima and scour those areas with smaller divisions so that we are less likely to miss small radius of curvature when there are spikes in the track. I am no longer able to produce tracks like https://github.com/phetsims/energy-skate-park-basics/issues/4

[2018-10-16 23:13] jessegreenberg commented on #440
I don't think this will have much of a performance impact because these functions currently use 400 samples, and this only adds 10 samples per local extrema.

I am still able to produce cases like https://github.com/phetsims/energy-skate-park-basics/issues/440#issue-366382898, the case where `smooth` is unable to smooth the track. I am out of time from https://github.com/phetsims/energy-skate-park

[2018-10-16 23:13] jessegreenberg commented on #440
Pinging @ariel-phet and @samreid so they are aware of this status update, and adding the deferred label, we may pick this up again in ESP.

[2018-10-17 16:58] jessegreenberg commented on #439
Skater has this Property:
[code]
And the threshold is 1E-2.

[2018-10-17 16:59] jessegreenberg commented on #439
So also related to https://github.com/phetsims/energy-skate-park-basics/issues/306

[2018-10-17 17:06] jessegreenberg commented on #439
Ah, so for thermal energy to be visible on the graph the value / 30 needs to be larger than 1E-6. For the button to be enabled, thermal energy needs to be larger than 1E-2. If these match, then the button will be enabled when thermal  energy is visible.

[2018-10-17 17:39] jessegreenberg commented on #439
The threshold for enabling the clear thermal energy button now matches the threshold for showing the thermal energy in the bar graph. @KatieWoe can you please make sure this is fixed in master?

[2018-10-17 17:47] KatieWoe commented on #439
@jessegreenberg unable to see energy in the bar graph when button in on.  However, I think I'm still seeing something very tiny in the pie chart.
![pie](https://user-images.githubusercontent.com/41024075/47105869-6620e700-d202-11e8-89c1-6ea83f4226eb.PNG)

[2018-10-17 22:44] KatieWoe commented on #439
Looks good on master now.

[2018-10-17 22:44] #439 closed

[2018-10-17 23:04] jessegreenberg commented on #439
Thanks!

[2018-10-18 14:31] samreid commented on #440
Got it, thanks @jessegreenberg.  I'll wait to hear from @ariel-phet if I should help on this issue.

[2018-10-23 15:37] samreid commented on #381
A 1-second delay is expected, we changed the wrapper to transmit state once per second.

![image](https://user-images.githubusercontent.com/679486/47372560-40368f00-d6a7-11e8-9962-8f5427a1401e.png)

Is this what you are seeing?

[2018-10-23 15:50] KatieWoe commented on #381
@samreid that is when its lagging yes.  I'm not worried about the bottom screen.  The top screen lagging is what I was referring to.  If that is expected then I think this is fine.

[2018-10-23 16:00] samreid commented on #381
Thanks for clarifying.  Does it seem like the top frame lags correspond to the 1-second rate?  Like transmitting the state uses up the CPU and that's when the top frame hiccups?

[2018-10-23 16:09] KatieWoe commented on #381
@samreid Yes

[2018-10-23 16:23] samreid commented on #381
That seems likely related to the work done in capturing the state, turning it into a string, then transmitting, parsing and applying to the downstream sim.  It seems unlikely we will be able to easily address that.

[2018-10-26 15:08] KatieWoe opened #441 "CT cannot set property 1 of null"
[code]

[2018-10-29 16:41] jessegreenberg commented on #441
https://github.com/phetsims/axon/issues/192 has been closed, and this is no longer showing up on Bayes CT.This issue can be closed.

[2018-10-29 16:41] #441 closed

[2018-11-14 18:40] KatieWoe opened #442 "CT event indexing failed"
[code]

[2018-11-15 16:20] KatieWoe commented on #442
[code]

[2018-11-20 16:16] KatieWoe opened #443 "CT Assertion Failed"
[code]

[2018-11-25 01:46] samreid commented on #438
I have not been in tune with this work.  I'm seeing that https://github.com/phetsims/energy-skate-park-basics/issues/411 requested a new RC in March 2018, and phet-io has been in a lot of churn since then.   Several issues came out of RC testing, listed in https://github.com/phetsims/QA/issues/134.  @jessegreenberg can you please chime in about the status of this redeploy?

[2018-11-30 18:53] KatieWoe opened #444 "CT: call is missing from an overridden dispose method"
[code]

[2018-11-30 23:39] samreid commented on #444
Fixed, closing.

[2018-11-30 23:39] #444 closed

[2018-11-30 23:44] samreid commented on #411
At Thursday's meeting @kathy-phet recommended to put this re-release on hold.  The PhET-iO ESP/ESPB will require more work and deliberation before we continue.

[2018-12-03 16:06] samreid commented on #438
As noted in https://github.com/phetsims/energy-skate-park-basics/issues/411#issuecomment-443373651

@jessegreenberg reported on the status of the redeploy--if I recall correctly, it had been through one round of dev or rc testing, and most or all discovered issues were repaired.  Leaving assigned to @jessegreenberg to clarify.

[2018-12-03 17:01] #420 closed

[2018-12-06 23:55] samreid opened #445 "Memory leak"
Running http://localhost/energy-skate-park-basics/energy-skate-park-basics_en.html?brand=phet-io&postMessageOnLoad&postMessageOnError&postMessageOnBeforeUnload&memoryLimit=1000&phetioStandalone&fuzz&screens=3 I received an 862MB heap.  May be isolated to PhET-iO.  Not sure if I should hold off work until @jessegreenberg is done merging the sims.  @jessegreenberg can you comment?

[2018-12-06 23:56] KatieWoe opened #446 "CT only components that were added should be removed"
[code]

[2018-12-07 00:10] samreid commented on #446
@jessegreenberg should I work on this before the merge?

[2018-12-07 00:21] jessegreenberg commented on #446
Thanks @samreid, feel free to wait on this if you wish, I am going to work on https://github.com/phetsims/energy-skate-park/issues/6 tomorrow.

[2018-12-07 15:36] samreid commented on #446
On hold until https://github.com/phetsims/energy-skate-park/issues/6 is complete.

[2018-12-07 15:36] samreid commented on #445
On hold until https://github.com/phetsims/energy-skate-park/issues/6 is complete

[2018-12-07 15:36] samreid commented on #443
On hold until https://github.com/phetsims/energy-skate-park/issues/6 is complete

[2018-12-07 15:36] samreid commented on #442
On hold until https://github.com/phetsims/energy-skate-park/issues/6 is complete

[2018-12-07 23:08] jessegreenberg commented on #446
@samreid https://github.com/phetsims/energy-skate-park/issues/6 has been addressed.

[2018-12-08 15:52] samreid commented on #446
addressed in https://github.com/phetsims/energy-skate-park/issues/43, closing.

[2018-12-08 15:52] #446 closed

[2018-12-09 15:46] samreid commented on #442
Event indexing seems better, but I'm still seeing the `interactWithTracksWhileFalling`, I'll create a new issue for that, closing.

[2018-12-09 15:46] #442 closed

[2018-12-09 15:49] samreid commented on #443
Duplicate of https://github.com/phetsims/energy-skate-park/issues/45, closing.

[2018-12-09 15:49] #443 closed

[2018-12-09 18:30] samreid commented on #445
http://localhost/energy-skate-park/energy-skate-park_en.html?brand=phet-io&phetioStandalone&phetioEmitHighFrequencyEvents=false&ea&fuzz after 60 seconds:

![image](https://user-images.githubusercontent.com/679486/49701150-ca7a7a00-fba5-11e8-8e09-bc0bd1fcffb4.png)

[2018-12-10 03:32] samreid commented on #445
I identified several different leaks and it seems to have repaired the issue.  There are several minutes between the lower entries:

![image](https://user-images.githubusercontent.com/679486/49709424-7bf2cd00-fbf1-11e8-96c9-c2ccc9b6b4e7.png)

Committing...

[2018-12-10 03:34] samreid commented on #445
Fixed, and fuzzing is going well, no lint errors reported.  Closing.

[2018-12-10 03:34] #445 closed

[2018-12-10 21:49] KatieWoe opened #447 "Graph potential and kinetic bar off."
I found this behavior in the graph when changing the mass of the skater in ESPB.  Potential bar looks buggy and only shows up slightly, kinetic doesn't show up at all. You have to zoom in quite a lot to even see this much, even though there is a lot of movement.
To reproduce, start skater with friction and wait until they are under the "0" line.  Then remove friction.  Make skater as light as poss

[2018-12-11 02:05] samreid commented on #447
Co-assigning @jessegreenberg in case I need help on this one.

[2018-12-11 15:38] jessegreenberg opened #448 "Zoom buttons should not be shown in energy-skate-park-basics"
I noticed in #447 that the zoom buttons for the graph are provided in ESP:B, they should be hidden in the basics version.

[2018-12-11 19:09] #448 closed

[2018-12-11 20:02] jessegreenberg commented on #447
The graph is actually reading correctly for the amount of mass. The problem for energy-skate-park-basics is that it started using the mass range of energy-skate-park after phetsims/energy-skate-park#6.

The above commits fix this issue.
![capture](https://user-images.githubusercontent.com/6396244/49826742-ad84a900-fd55-11e8-9a87-42047ff10a3f.PNG)

Also, Ill make the initial reference height zero a

[2018-12-11 20:04] jessegreenberg commented on #447
Thanks @KatieWoe, closing this issue.

[2018-12-11 20:04] #447 closed

[2018-12-18 17:40] rea-laura opened #449 "Discarding thermal energy leaves dot behind"
<b>Test Device</b>

Jordan

<b>Operating System</b>

Mojave 10.14.2

<b>Browser</b>

Chrome 71.0.3578.98

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/226:
When all of the energy is consumed into thermal energy, discarding the thermal energy leaves behind a dot.

<b>Steps to Reproduce</b>

Method 1 - leaves dot with no energy left in bar graph
1) Go to energy skate park ba

[2018-12-18 18:27] rea-laura opened #450 "Erase button can freeze sim"
<b>Test Device</b>

Jordan

<b>Operating System</b>

Mojave 10.14.2

<b>Browser</b>

Chrome 71.0.3578.98

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/226:
When thermal energy is discarded, erasing the track can cause the sim to freeze. Could be related to https://github.com/phetsims/energy-skate-park-basics/issues/449.

<b>Steps to Reproduce</b>

1) open energy skate park

[2018-12-18 18:46] samreid commented on #449
Thanks @rea-laura, I'm also assigning @jessegreenberg so he's aware of it and in case he addresses it before I get here.

[2018-12-18 18:46] samreid commented on #450
Thanks @rea-laura, I'm also assigning @jessegreenberg so he's aware of it and in case he addresses it before I get here.

[2018-12-21 23:54] lmulhall-phet opened #451 "Grainy circumference of pie chart, outline on bars of bar graph"
<b>Test Device</b>

iPad 2

<b>Operating System</b>

iOS 9.3.5

<b>Browser</b>

Mobile Safari 9.0

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/226. Grainy circumference of circle. There seems to be an outline around the bars on the bar graph on some sides but not others. I'm not sure who the lead dev for ESPB is. I'm sorry @jessegreenberg if it's not you! Pinging @jonatha

[2018-12-31 03:50] samreid opened #452 "PhET-iO wrapper issue on Bayes CT: Changed state should now have one item in it."
Bayes CT has been showing this issue for a while:

[code]

@zepumph can you please investigate?

[2018-12-31 03:51] samreid opened #453 "instance metadata should match for energySkatePark.measureScreen.measureScreenView.controlPanel"
Similar to #452 I also saw:

But I didn't see this problem locally, not sure why.  @zepumph can you please take a look?

[2019-01-03 02:07] zepumph commented on #452
@samreid and I dove into this today. We found that there were two issues with this sim (and others) regarding PhET-iO:

1. First is that `ObservableArrayIO` didn't clearly differentiate between serializing its values as references or values. This was remedied by adding an option to the already parametric type. Now serializing OberservaleArray can be more explicit.

2. In recent state related chang

[2019-01-03 02:38] zepumph commented on #452
Oh I should note another issue that we solved in the above commit. Now that we are gathering `initialState`, we have a better way to keep track of "out of place" properties that change after construction into their "initial state". `Skater.headPositionProperty` is an example of this, so we adapted it to initialize to the correct value on creation with a bit of refactoring. I hope soon to write a u

[2019-01-09 20:56] KatieWoe opened #454 "White space in bar graph"
The bar graph was altered for ESP to allow more room for negative bars.  This has altered ESPB.  This is undesired because ESPB will not have negative bars during normal use.
![bargraph](https://user-images.githubusercontent.com/41024075/50927873-4b7f9800-1416-11e9-80bd-107adfcee84c.PNG)

[2019-01-11 16:11] KatieWoe commented on #451
I've seen the bar issue on other devices and platforms as well

[2019-02-05 16:37] KatieWoe opened #455 "CT: Memory Limits"
[code]

[2019-04-12 22:45] KatieWoe opened #456 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Noner

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56069886-53671500-5d42-11e9-8cdc-d89d467aa3ad

[2019-04-12 22:45] #456 closed

[2019-04-29 14:45] KatieWoe opened #457 "CT: property removeChild of null"
[code]

[2019-04-30 17:46] samreid commented on #457
There was a sequencing problem, easily seen when launching the mirror inputs wrapper.  GridNode creates some parts in `layout` which is called before init on startup in the upstream sim, but not in the downstream sim.  For now, I've uninstrumented that part.

[2019-05-08 14:38] KatieWoe opened #458 "CT Assertion failed"
[code]

[2019-05-13 02:55] samreid commented on #458
There have been a number of issues like this.  Extremely rare, and difficult or impossible to create locally.  Energy Skate Park: Basics was developed before we had fuzz testing or CT.  In prior issues, @jessegreenberg and I worked together to add information to the assertion messages to help us work backwards to see what is happening, but these are difficult issues to investigate.  Some ideas for

[2019-05-21 02:26] ariel-phet commented on #458
@samreid I would like to discuss a bit at dev meeting to get a better perspective. I am leaning towards your second suggestion

But want to make sure there is consensus.

[2019-05-23 15:08] jessegreenberg commented on #458
Here is the related issue: https://github.com/phetsims/energy-skate-park/issues/45

[2019-05-23 17:13] jessegreenberg commented on #425
This is no longer true since WebGL is being removed in https://github.com/phetsims/energy-skate-park/issues/66 and we no longer need the layering to support that.

[2019-05-23 17:14] jessegreenberg commented on #295
This is no longer the behavior now that WebGL is being removed from the sim in https://github.com/phetsims/energy-skate-park/issues/66 and the layering requirements to support WebGL are no longer necessary.

[2019-05-23 17:14] #295 closed

[2019-05-29 23:14] pixelzoom commented on #458
I'm not in favor of turning off assertions when ?fuzz is enabled, or any other "solution" that hides errors.  It's better to live with them than to hide them, and address them when we have time.  If we can't find time, then there is a bigger problem than the errors.

[2019-06-13 19:17] samreid commented on #458
After discussion @ariel-phet said, after GQIO and diffraction, can investigate ESP CT fails with @jesse for 1/2 day to a day.

[2019-06-13 19:18] jessegreenberg commented on #458
@jonathanolson recommended recording the sim so that we have the reproducible events that lead to this issue.

[2019-08-06 14:56] KatieWoe opened #459 "CT t.link is not a function"
[code]

[2019-08-07 14:29] samreid commented on #459
Co-assigning @jessegreenberg in case he has been in the area.

[2019-08-07 14:31] jessegreenberg commented on #459
Definitely have, sorry about that. Fix comming shortly.

[2019-08-07 14:33] jessegreenberg commented on #459
Fixed above, ESP:B is fuzzing without error locally so I assume this is fixed.

[2019-08-07 14:33] #459 closed

[2019-09-09 17:10] samreid commented on #450
@jessegreenberg can you reproduce this problem?  If so, would you like to investigate, or should I take a look?

[2019-09-09 17:22] samreid commented on #458
Unassigning, we are pursuing solutions in https://github.com/phetsims/energy-skate-park/issues/45

[2019-09-11 14:36] KatieWoe opened #460 "CT Failure to grunt snapshot"
[code]

[2019-09-12 02:58] jessegreenberg commented on #460
I deleted EnergySkateParkSim because I couldn't find usages of it, this is definitely related to that.

[2019-09-12 03:02] jessegreenberg commented on #460
My apologies, it is definitely used in energy-skate-park-basics. Not sure why I didn't see it before, maybe I was excluding basics in my search or something.

[2019-09-12 03:06] jessegreenberg commented on #460
Oh correction, it was moved to common. I miss-remembered.

[2019-09-12 03:07] jessegreenberg commented on #460
Fixed.

[2019-09-12 03:07] #460 closed

[2019-09-26 13:47] jessegreenberg opened #461 "Convert to ES6"
For https://github.com/phetsims/energy-skate-park/issues/121 and doing it in basics first because of https://github.com/phetsims/energy-skate-park/issues/121#issuecomment-535509196.

[2019-09-26 14:14] jessegreenberg commented on #461
Done.

[2019-09-26 14:14] #461 closed

[2019-09-27 15:41] samreid commented on #458
@jessegreenberg can this issue be closed?  Are all of the concrete problems noted in other issues?

[2019-10-11 14:47] pixelzoom opened #462 "CT: Assertion failed: Thermal energy should be non-negative"
This has been occurring intermittently for a few days.

[code]

[2019-10-18 19:28] jessegreenberg opened #463 "Consolidate options in ScreenViews for this sim"
The options in IntroScreenView, FrictionScreenView, and PlaygroundScreenView are identical, and these types are mostly the same too. This happened after code was moved to enegy-skate-park, and these options configure the "basics" ScreenViews. Maybe consolidate options or create new types liek EnergySkateParkBasicsTrackSetScreenView.

I think I prefer moving and reuising the shared options  because

[2019-10-18 20:44] jessegreenberg commented on #463
This is done, I went with a separate type because the EnergySkateParkBasicsTrackSetScreenView has its own EnergyBarGraphPanel, not just unique options.

[2019-10-18 20:44] #463 closed

[2019-10-24 04:13] phet-dev opened #464 "Maintenance patches applied to branch 1.4"
This branch (1.4) had changes related to the following applied:

- fix for iOS 13 Full Screen, see https://github.com/phetsims/phet-core/issues/64
- https://github.com/phetsims/scenery/issues/1006

Presumably one or more of these changes is likely to have been applied after the last RC version, and should be spot-checked by QA in the next RC (or if it was ready for a production release, an additio

[2019-11-08 15:43] KatieWoe opened #465 "CT at least one source expected"
[code]

[2019-11-10 13:57] samreid commented on #465
Thanks @KatieWoe, I committed a proposed fix. @jessegreenberg can you please review?  Close if all is well.

[2019-12-16 19:33] jessegreenberg commented on #465
Yes, thank you! Closing.

[2019-12-16 19:33] #465 closed

[2019-12-16 22:08] jessegreenberg commented on #450
This is no longer an issue, I am not able to reproduce following the steps above. In addition, the dashed "total energy" pie chart doesn't appear anymore in basics version.

[2019-12-16 22:08] #450 closed

[2019-12-16 22:51] jessegreenberg commented on #454
Fixed with the above commit, removed negative space if graph doesn't allow for negative values.

[2019-12-16 22:51] #454 closed

[2019-12-16 22:52] jessegreenberg commented on #398
This helped me understand this sim, but is stale now that energy-skate-park repo is set up. energy-skate-park is nearing publication and a code review of that repo is coming soon. This can be closed.

[2019-12-16 22:52] #398 closed

[2019-12-18 22:31] jessegreenberg commented on #462
A fix for this was proposed and committed in https://github.com/phetsims/energy-skate-park/issues/45, the issue is being tracked there.

[2019-12-18 22:31] #462 closed

[2019-12-18 22:33] jessegreenberg commented on #458
Yes this can be closed. This assertion in particular has a proposed fix and is being tracked in #45.

[2019-12-18 22:33] #458 closed

[2019-12-18 22:51] jessegreenberg commented on #208
I am not seeing this happen at all, though I only have access to Windows 10. The general issue https://github.com/phetsims/scenery/issues/275 has been closed because starting May 2015 developers  began to report that this is no longer an issue. @samreid can this issue be closed?

[2019-12-18 23:04] jessegreenberg commented on #271
This is fixed in master, closing.

[2019-12-18 23:04] #271 closed

[2019-12-18 23:25] jessegreenberg commented on #299
Testing the sim on an iPad Air 2 (which is currently our platform of lowest performance) and I am not seeing any of the issues reported here. The skater continues to move smoothly while track and control points are dragged. I don't see any freezing or slowdown. So closing this issue.

[2019-12-18 23:25] #299 closed

[2019-12-19 15:42] jessegreenberg commented on #317
Assigning to myself to review with design team if this needs to be addressed before Energy Skate Park is published. Also moving to energy-skate-park now.

[2019-12-19 15:46] jessegreenberg commented on #324
Moving to energy-skate-park now.

[2019-12-19 15:59] jessegreenberg commented on #327
There are currently two renderer overrides in this sim and both have documentation for their reasoning. Closing.

[2019-12-19 15:59] #327 closed

[2019-12-19 16:01] jessegreenberg commented on #335
@arouinfar can you please comment on this issue and whether this has been addressed in Energy Skate Park?

[2019-12-19 16:02] jessegreenberg commented on #340
We have gravity in energy-skate-park. @arouinfar can this be closed?

[2019-12-19 16:08] jessegreenberg commented on #346
This is not an issue in Chrome Version 79.0.3945.88 (Official Build) (64-bit) on Win 10 or Chrome 78.0.3904.108 on macOS 10.15. I think this can be closed.

[2019-12-19 16:08] #346 closed

[2019-12-19 16:08] jessegreenberg commented on #345
This now applies to energy-skate-park as well.

[2019-12-19 16:12] jessegreenberg commented on #347
We still support Windows 7, and would be good to see if this is still a slower platform for this sim after we changed sim rendering and removed WebGL.

[2019-12-19 16:13] jessegreenberg commented on #349
Ill investigate this.

[2019-12-19 16:14] jessegreenberg commented on #371
energy-skate-park has gone through a few dev tests since this change, this can be closed.

[2019-12-19 16:14] #371 closed

[2019-12-19 16:30] jessegreenberg commented on #370
I suspect showSaveAndLoad can be deleted, ill close after https://github.com/phetsims/joist/issues/594

[2019-12-19 16:37] jessegreenberg commented on #355
This issue will apply to both energy-skate-park and energy-skate-park-basics now.

[2019-12-19 16:46] jessegreenberg commented on #357
We now have energy-skate-park which includes gravity and reference height line.

[2019-12-19 16:46] #357 closed

[2019-12-19 16:48] jessegreenberg commented on #369
This is a duplicate of https://github.com/phetsims/energy-skate-park/issues/159, closing this issue. https://github.com/phetsims/energy-skate-park-basics/issues/369#issuecomment-405619490 was also suggested there.

[2019-12-19 16:48] #369 closed

[2019-12-19 16:53] jessegreenberg commented on #407
Moving to energy-skate-park now, I had forgotten about this and will work on it now.

[2019-12-19 17:18] jessegreenberg commented on #421
And #434 was closed because this type of track is not pedagogically useful.

Ill make a new issue for the "Skater falls out of loop" problem in energy-skate-park.

[2019-12-19 17:18] #421 closed

[2019-12-19 21:47] jessegreenberg commented on #387
Closing, this no longer applies, a separate GaugeNeedleNode is not being used anymore since WebGL was removed from sim.

[2019-12-19 21:47] #387 closed

[2019-12-19 21:49] jessegreenberg commented on #437
This branch can be deleted now that this feature is integrated in master.

[2019-12-19 21:50] jessegreenberg commented on #437
It has been removed.

[2019-12-19 21:50] #437 closed

[2019-12-19 21:52] jessegreenberg commented on #424
Arrows to indicate energy beyond graph limis are in this sim now and they were necessary for energy-skate-park. Closing.

[2019-12-19 21:52] #424 closed

[2019-12-24 02:17] samreid commented on #370
Deleted, closing.

[2019-12-24 02:17] #370 closed

[2019-12-30 14:48] samreid commented on #208
Yes, thanks!  Closing.

[2019-12-30 14:48] #208 closed

[2019-12-31 16:49] samreid commented on #455
I don't recall seeing this lately, closing.

[2019-12-31 16:49] #455 closed

[2020-01-08 22:54] jessegreenberg commented on #449
Sounds good - I took a look and here is what I found:

- Method 1: Currently on master the opposite happens. The pie chart dot is not there but there is a small amount of thermal/total energy in the graph. If anything, I think to be consistent a dot SHOULD appear as energy in the bar chart is expected for these reasons:
  - After oscillation, skater doesn't every fully stop. Skater oscillation con

[2020-01-08 23:11] jessegreenberg commented on #449
I found https://github.com/phetsims/energy-skate-park-basics/issues/136 where the following was introduced to make the pie chart invisible when energies are too low.

[code]

So I would recommend that we don't do anything further for this issue. The original issue report (no energy in bar graph, energy showed in pie chart) was definitely an issue. But that is no longer what is happening and issue

[2020-01-08 23:11] #449 closed

[2020-01-16 22:13] arouinfar commented on #340
Yes, let's close

[2020-01-16 22:13] #340 closed

[2020-01-16 22:17] arouinfar commented on #335
I think quantitative learning goals are best addressed by energy-skate-park. The Measure screen, in particular, could be used to address the learning goals mentioned by @kathy-phet. I think we can go ahead and close this issue @jessegreenberg.

[2020-01-16 22:17] #335 closed

[2020-01-24 18:10] zepumph opened #466 "Redesign PhET-iO api"
Slim down tandems and thoughtfully design the api.

This is for research with a client. Dates: Dev version 3/31/2020; Data collection begins May 2020

[2020-02-05 19:11] KatieWoe opened #467 "Chromium slow down on published sim"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome (and Edge)
**Problem description**
On the published sim, the speed of the skater when falling and moving on the track is very slow. It is to the point that it is hard to tell the difference between normal and slow motion settings. Firefox may have a bit of slow down, but not as much.

**Visuals**
![sloweddownskater](https://user-i

[2020-02-05 19:22] KatieWoe commented on #467
https://github.com/phetsims/QA/issues/470 doesn't seem to have this at first glance

[2020-02-05 23:43] KatieWoe commented on #440
Occurs on https://github.com/phetsims/QA/issues/470

[2020-02-05 23:44] KatieWoe commented on #418
Seen in https://github.com/phetsims/QA/issues/470 along with https://github.com/phetsims/energy-skate-park-basics/issues/440

[2020-02-17 16:51] KatieWoe opened #468 "CT phet-io api error"
[code]

[2020-02-18 16:36] jessegreenberg commented on #468
I tried looking into this, but I am afraid I don't know enough about PhET-iO to fix. The error appears without ?fuzz on startup of the state wrapper, and I am not sure why Track.dispose is being called on startup. @samreid @zepumph @chrisklus what should be done for this assertion?

[2020-02-18 16:38] jessegreenberg commented on #467
OK thanks @KatieWoe, good to hear that sim is faster off of master. Many changes to rendering have been introduced since last publication. We will know more about performance of master on our slower devices through https://github.com/phetsims/QA/issues/470, closing this issue.

[2020-02-18 16:38] #467 closed

[2020-02-18 16:39] jessegreenberg commented on #468
This is actually the same as https://github.com/phetsims/energy-skate-park/issues/197, moving over there since issue is likely in energy-skate-park.

[2020-02-18 16:39] #468 closed

[2020-03-09 15:26] KatieWoe opened #469 "CT Any static registered PhetioObject can never be deregistered"
[code]

[2020-03-12 23:18] pixelzoom commented on #469
Also occurring in energy-skate-park.

[2020-03-14 19:03] samreid commented on #469
We will soon be instrumenting this sim for PhET-iO.  We will likely be able to address this issue then.

[2020-03-19 22:37] jessegreenberg commented on #435
From review comment asking about this in energy-skate-park, this flag can now be removed since we are not using WebGL and we are no longer targeting iPad2. I tested the sim for several minutes on an iPad 3 and saw no crashing or memory related failures.

[2020-03-19 22:37] #435 closed

[2020-04-25 17:11] samreid commented on #457
Unassigning until we turn our attention to PhET-iO for this sim.

[2020-07-20 21:53] KatieWoe opened #470 "CT: createTandem is not a function"
[code]

[2020-07-26 20:07] samreid commented on #470
Most of these errors stem from `createTandem is not a function`.  It looks like refactoring in https://github.com/phetsims/energy-skate-park/issues/280 changed the signature of PhysicalSlider, but MassSlider was not changed.  @jessegreenberg can you please take a look?

[2020-07-27 18:46] jessegreenberg commented on #470
Thanks, and sorry about that. MassSlider was changed but was done so incorrectly and I failed to pass the Tandem through to `super`. Fixed in the above commit.

[2020-07-27 18:46] #470 closed

[2020-07-31 16:04] KatieWoe opened #471 "CT required tandems must be supplied"
[code]

[2020-07-31 16:48] jessegreenberg commented on #471
Most likely on me, assigning to myself.

[2020-07-31 16:57] jessegreenberg commented on #471
Fixed in the above commit.

[2020-07-31 16:57] #471 closed

[2020-09-02 21:44] zepumph commented on #453
I'm thinking that this issue is too stale to be worked on. Closing

[2020-09-02 21:44] #453 closed

[2020-09-02 21:45] zepumph commented on #452
I don't see any other work to be done in this issue. Closing

[2020-09-02 21:45] #452 closed

[2020-12-07 16:23] KatieWoe opened #472 "CT item not found in array"
Link to https://github.com/phetsims/axon/issues/332
[code]

[2020-12-07 16:25] samreid commented on #472
Is this report about energy-forms-and-changes or energy-skate-park-basics?

[2020-12-07 16:26] KatieWoe commented on #472
Basics, sorry I coppied from the wrong cell. I'll edit the issue now.

[2020-12-28 18:18] samreid commented on #472
It appears this was addressed in https://github.com/phetsims/energy-skate-park/issues/314.  I can't reproduce the problem locally and CT is not showing problems for ESPB at the moment.

[2020-12-28 18:18] #472 closed

[2021-01-14 18:54] arouinfar opened #473 "Update design before redeploy from master"
Many of the design decisions in Energy Skate Park have affected Energy Skate Park: Basics. Basics was not republished off of master in conjunction with ESP. Before this sim gets republished, we will need to review the current design of ESPB and decide which ESP-only features we would like to add (e.g. skater choice).

[2021-01-14 18:58] arouinfar commented on #473
This issue blocks #411

[2021-01-25 16:36] KatieWoe opened #474 "CT assertion failed PhetioObject not found for"
[code]

[2021-01-25 18:00] jessegreenberg commented on #474
It looks like Tandems are getting passed through to the drag handler and isDraggingProperty. I'm not sure but I think this could be related to https://github.com/phetsims/energy-skate-park/issues/123. @samreid made commits there recently, would you mind taking a look?

[2021-01-26 04:32] samreid commented on #474
Let's track this in https://github.com/phetsims/energy-skate-park/issues/318, closing as duplicate.

[2021-01-26 04:32] #474 closed

[2021-05-06 20:31] jessegreenberg commented on #437
This branch has been re-deleted for https://github.com/phetsims/special-ops/issues/198

[2022-06-22 22:20] arouinfar opened #475 "Update screen icons to include new skaters"
Similar to https://github.com/phetsims/energy-skate-park/issues/340

The screen icons use deprecated skater artwork. We should decide which skaters to include in the icons and determine if/how to swap out the artwork when the skater set is changed.

<img width="1079" alt="image" src="https://user-images.githubusercontent.com/8419308/175162643-fd0664d5-1a51-4073-b517-fda5f4ff2f74.png">

[2022-06-22 22:26] arouinfar commented on #473
We should also decide if there are any ESP-only features that would be appropriate to include in the Basics version. For example, the timer and measuring tape may be useful in Basics.

There are also PhET-iO implications to consider. The Studio trees of Geometric Optics and Geometric Optics:  Basics are nearly identical and it's possible to essentially turn one sim into the other using PhET-iO. Se

[2022-06-23 20:01] jessegreenberg opened #476 "Pie chart legend has incorrect layout"
The pie chart layout is incorrect in basics, it is behind the bar graph and cannot be seen.

[2022-06-23 22:48] arouinfar opened #477 "Move Energy Bar Graph to AccordionBox"
Related to #473

Discussed in the 6/23/22 design meeting.

In effort to unify the designs of ESP and ESPB, we decided to use the Bar Graph AccordionBox in the Basics version. The look and behavior will be identical to ESP.

<img width="204" alt="image" src="https://user-images.githubusercontent.com/8419308/175427563-bfddb0af-8dda-4840-9cb2-87257a0359c5.png">

[2022-06-23 23:17] jessegreenberg commented on #477
Done in the above commits @arouinfar. Note this added zoom buttons to the graph in basics, which were previously not available.

[2022-06-23 23:18] jessegreenberg commented on #476
This was fixed naturally by #477, the component was positioned relative to that accordion box. Since it has been added to basics the positioning is correct.

[2022-06-23 23:18] #476 closed

[2022-06-23 23:27] jessegreenberg commented on #477
The "Bar Graph" checkbox and the option to display it has been removed entirely from the code because they are no longer used.

[2022-07-05 18:04] arouinfar commented on #477
Thanks @jessegreenberg, looks good in master.

[2022-07-05 18:04] #477 closed

[2022-07-05 18:20] arouinfar commented on #475
In https://github.com/phetsims/energy-skate-park/issues/340 we decided to use static images for the tracks/backgrounds and then add the skaters in code. I didn't create this icons originally, so I'll need to re-create them in Illustrator.

[2022-07-05 18:49] arouinfar commented on #475
Here are the assets for the tracks/backgrounds:
[energy-skate-park-basics-screen-icons.zip](https://github.com/phetsims/energy-skate-park-basics/files/9048755/energy-skate-park-basics-screen-icons.zip)

We still need to decide which sakters to feature, so leaving self-assigned.

[2022-09-09 19:24] KatieWoe commented on #457
This isn't showing up on CT right now. Closing.

[2022-09-09 19:24] #457 closed

[2022-09-09 22:15] KatieWoe commented on #469
Not seeing this in CT right now. Closing

[2022-09-09 22:15] #469 closed